{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/about_me/about.css' %}">{% endblock %}
{% block title %}Hospeeとは{% endblock %}
{% block meta_description %}<meta name="description" content="Hospeeは、病院実習クチコミサイトとして医療系学生のためのWebサービスです。">{% endblock %}

{% block content %}
<div class="main-content">
  <h1 class="title is-1">1分でわかるサービス紹介<br
    >病院実習クチコミサイトHospee</h1>
  <h2 class="title is-2">1.医療系学生のためのWebサービスHospee</h2>
  <img src="{% static 'img/Card1.PNG' %}" alt="サイト紹介のための画像その１">
  <h2 class="title is-2">2.病院実習における問題</h2>
  <img src="{% static 'img/Card2.PNG' %}" alt="サイト紹介のための画像その２">
  <h2 class="title is-2">3.そこでHospee</h2>
  <img src="{% static 'img/Card3.PNG' %}" alt="サイト紹介のための画像その３">
  <h1 class="is_start title is-2">
    <a href="/">さぁ、実際に使ってみよう！</a>
  </h1>
</div>
{% endblock %}
