/*SmartPhone*/
@media screen and (max-width:560px){
  .main-content{
    padding-right: 2%;
    padding-left: 2%;
  }
  .rule-content{
    margin-left: 0%;
  }
}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  .main-content{
    padding-right: 12%;
    padding-left: 12%;
  }
  .rule-content{
    margin-left: 3%;
  }
}
/*PC*/
@media screen and (min-width:960px){
  .main-content{
    padding-right: 22%;
    padding-left: 22%;
  }
  .rule-content{
    margin-left: 3%;
  }
}
.main-content{
  padding-top: 0vw;
}
.article{
  margin-bottom: 40px;
}
.rule-content{
  border:1px solid #DCDCDC;
  padding: 1%;
}
