/*SmartPhone*/
@media screen and (max-width:560px){
  .body-contents{
    padding-top: 20px;
    padding-right: 1%;
    padding-left: 1%;
  }
  .main-content-bk{
    width: 100%;
    height: 125px;
    background: white;
    margin-right:3px;
    border-radius:40px;
    background-color:black;
    opacity: 0.9;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
  }
  .main-sub-text{
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .main-section{
    display: none;
  }
  .main-content-bk img{
    height: 125px;
    object-fit: cover;
    width: 100%;
    border-radius:40px;
  }
  .main-section2 img{
    border-radius:40px;
    display: block;
    opacity: 0.6;
  }
  .tbl-r01 {
    display: none;
  }
  table {
  margin: 0px auto;
  border: solid 1px rgb(106,191,176);
  }
  .tbl-r02 th {
  background: rgb(106,191,176);
  border: solid 1px rgb(106,191,176);
  color: white !important;
  padding: 10px;
  text-align: center !important;
  }
.tbl-r02 td {
　border: solid 1px #ccc;
  padding: 10px;
  }
.last td:last-child {
  border-bottom: solid 1px #ccc;
  width: 100%;
  }
  .tbl-r02 {
  width: 80%;
  }
  .tbl-r02 th,
  .tbl-r02 td {
　border-bottom: none;
  display: block;
  width: 100%;
  }
  .tbl-r02 td{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  }

}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  .main-section2{
    display: none;
  }
  .tbl-r02{
    display: none;
  }
  .body-contents{
    padding-top: 40px;
    padding-right: 1%;
    padding-left: 1%;
  }
  #first-column{
    width:25%;
  }
  .main-section li {
  	width: 40px;
  	height: 40px;
  	padding: 10px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .main-content-bk{
    width: 150px;
    height: 150px;
    background: white;
    margin-right:3px;
    border-radius:40px;
    background-color:black;
    opacity: 0.9;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(0%) translateX(-50%);
    -webkit- transform: translateY(0%) translateX(-50%);
  }
  .inline-block li {
  	display: inline-block;
  }

  #top-row{
    background-color: rgb(106,191,176);
    text-align: center!important;
    color: white;
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #first-column{
    background-color: rgb(106,191,176);
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #second-row{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10px;
  }
  .main-section img{
    border-radius:40px;
    display: block;
    opacity: 0.6;
  }
  ul {
  	list-style-type: none;
  	padding-left: 0;
  }
}
/*PC*/
@media screen and (min-width:960px){
  .main-section2{
    display: none;
  }
  .tbl-r02{
    display: none;
  }
  .body-contents{
    padding-top: 1vw;
    padding-left: 22.5vw;
    padding-right: 22.5vw;
  }
  .main-section li {
  	width: 40px;
  	height: 40px;
  	padding: 10px;
    margin-right: 80px;
    margin-left: 80px;
  }
  .main-content-bk{
    width: 150px;
    height: 150px;
    background: white;
    margin-right:3px;
    border-radius:40px;
    background-color:black;
    opacity: 0.9;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(0%) translateX(-50%);
    -webkit- transform: translateY(0%) translateX(-50%);
  }
  .inline-block li {
  	display: inline-block;
  }
  #top-row{
    background-color: rgb(106,191,176);
    text-align: center!important;
    color: white;
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #first-column{
    background-color: rgb(106,191,176);
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #second-row{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10px;
  }
  .main-section img{
    border-radius:40px;
    display: block;
    opacity: 0.6;
  }
  ul {
  	list-style-type: none;
  	padding-left: 0;
  }
}
.main-sub-text{
  position: absolute;
  margin: 0%;
  padding: 0%;
  font-size: 20px;
  font-weight: bold;
}
.body-contents a:link { color: black; }
.body-contents a:visited { color: black; }
.body-contents a:hover { color: black; font-weight: bold;}
.body-contents a:active { color: black; }
.box-header-text{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.main-content-bk:hover{
  box-shadow: 0 0 25px rgba(0,0,0,.45);
}
.inline-block {
	text-align: center;
}
.major-header-text{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}
