{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">{% endblock %}
{% block title %}ログイン{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block content %}
<div class="main-content">
  {% if not user.is_authenticated %}
  <h1>Log in</h1>
  <form method="POST">
      {% csrf_token %}
  <div class="field">
    <p class="control has-icons-left">
      {% render_field form.username class="input" type="name" placeholder="ユーザーネーム" %}
      <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
      {{ form.username.errors }}
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      {% render_field form.password class="input" type="password" placeholder="パスワード" %}
      <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
      {{ form.password.errors }}
    </p>
  </div>

  <div class="field">
    <p class="control">
      <button class="button is-success" type="submit">Login</button>
    </p>
  </div>

  </form>

  <p class="new-member"><a href="{% url 'accounts:create' %}">新規登録</a></p>
  <p class="forget-password"><a href="#">パスワードをお忘れですか？</a></p>
  {% else %}
  <h1>You Logged in</h1>
  {% endif %}


</div>

{% endblock %}
