{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/accounts/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/mypage.css' %}">
{% endblock %}
{% block title %}{{ user }}さんのマイページ{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block mypage_content %}
<h1>マイページ</h1>
<h2>登録日</h2>
<div class="date_joined">
  {{ date_joined }}
</div>
{% endblock %}
