{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/accounts/mypage.css' %}">{% endblock %}
{% block title %}ログイン{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block content %}
<div class="main-content">
<div id="outer">
<div id="header"><h1>あなたのＨＰタイトル</h1>
<p>あなたのＨＰの説明文</p>
</div>
<div id="content">
<div class="inner"><h2>記事ページ見出し・大</h2>
<p>文章あれこれ</p>
<h3>記事ページ見出し・中</h3>
<p>文章あれこれ</p>
<h4>記事ページ見出し・小</h4>
<p>文章あれこれ</p>
</div>
</div>
<div id="right">
<div class="right-title">サイドバータイトル</div>
<div class="link">
<ul>
<li>記事ページへのリンク</li>
<li>記事ページへのリンク</li>
</ul>
</div>
</div>
<div id="footer">© 2010 あなたのホームページ</div>
</div>


</div>

{% endblock %}
