{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/accounts/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/mypage.css' %}">
{% endblock %}
{% block title %}{{ user }}さんのマイページ{% endblock %}
{% block meta_description %}
<meta name="description" content="ログインページへようこそ！さぁ当サイトをどんどん使ってくださいね！お問い合わせからどんな些細な事でもご意見お受けします！">
{% endblock %}

{% block mypage_content %}
<h1>マイページ</h1>
<h2>登録日</h2>
<div class="date_joined">
  {{ date_joined }}
</div>
{% endblock %}
