{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/main_app/footer-content.css' %}">{% endblock %}
{% block title %}
  {% if pattern == 'rule' %}利用規約
  {% elif pattern == 'privacy' %}プライバシーポリシー
  {% endif %}
{% endblock %}

{% block meta_description %}
<meta name="description" content="Hospeeの利用規約並びにプライバシーポリシーになります。当サイトをご利用になられる際は、ぜひご一読の上ご利用いただくことを推奨致します。
特に、誹謗中傷を目的とした投稿は運営より削除させていただくこともございますので、ご了承ください。">
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="tabs">
    <ul>
      {% if pattern == 'rule' %}
      <li class="is-active"><a href="/footer-content/?pattern=rule">利用規約 ▼</a></li>
      <li><a href="/footer-content/?pattern=privacy">プライバシーポリシー</a></li>
      {% elif pattern == 'privacy' %}
      <li><a href="/footer-content/?pattern=rule">利用規約</a></li>
      <li class="is-active"><a href="/footer-content/?pattern=privacy">プライバシーポリシー ▼</a></li>
      {% endif %}
    </ul>
  </div>
  {% if pattern == 'rule' %}
  <div class="rule-content">
   この利用規約（以下，「本規約」といいます。）は,Hospee（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
	  {% for index, row in cp.iterrows %}
    <div class="chapter">
        <b>{{ row.chapeter_return }}</b>
    </div>
    <div class="article">
      <ol>
          {% for index2, row2 in df.iterrows %}
            {% if row2.article_chapter == row.chapeter_return %}
            <li>{{ row2.article_content }}</li>
            {% endif %}
          {% endfor %}
      </ol>
    </div>
    {% endfor %}
  </div>
  {% elif pattern == 'privacy' %}
  <div class="rule-content">
  Hospee（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
	  {% for index, row in cp.iterrows %}
    <div class="chapter">
        <b>{{ row.chapeter_return }}</b>
    </div>
    <div class="article">
      <ol>
          {% for index2, row2 in df.iterrows %}
            {% if row2.article_chapter == row.chapeter_return %}
            <li>{{ row2.article_content }}</li>
            {% endif %}
          {% endfor %}
      </ol>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
