{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock %}
{% block js_file %}
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block title %}口コミを投稿する{% endblock %}
{% block meta_description %}<meta name="description" content="新規のクチコミは随時受け付けております！">{% endblock %}

{% block content %}
<div class="form-content">
  <form method="POST">
      {% csrf_token %}
      {% for field in form %}
       <div class="form-group">
         <div class="form-header">
           <div class="form-title">
             {% render_field field.label %}　
           </div>
            <p class="must-or-not">
             {% if field.field.required %}必須{% endif %}
           </p>
         </div>
         {% render_field field class="input is-primary" %}
         {% if field.help_text %}
           <small class="form-text text-muted">
             {{ field.help_text }}
           </small>
         {% endif %}
       </div>
     {% endfor %}
      <div class="agree">
        <input type="checkbox" required>
        <label for="music">
          <a href="/footer-content/?pattern=rule" target="_blank">利用規約</a>・
          <a href="/footer-content/?pattern=privacy" target="_blank">プライバシーポリシー</a>
          に同意する</label>
      </div>
      <div class="g-recaptcha" data-sitekey="6LffvWgaAAAAAEwCrsrcNLJr8DyjgnUx4p5JMLed"></div>
      <button class="button is-primary for-submit" type="submit" onclick="return check()">投稿する</button>
      <div style="color:red">{{text}}</div>
  </form>
</div>

{% endblock %}
