{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/main_app/form.css' %}">{% endblock %}
{% block js_file %}
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block title %}クチコミを投稿する{% endblock %}
{% block meta_description %}<meta name="description" content="新規のクチコミは随時受け付けております！">{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@To_Hospee" />
<meta property="og:url" content="https://hospeee.com/media/{{ post.image }}" />
<meta property="og:title" content="HospeeBlog | 病院実習クチコミサイト" />
<meta property="og:description" content="{{ post.discription }}" />
<meta property="og:image" content="{% static 'img/Hospeee-thankyou.png' %}"/>
{% endblock %}

{% block content %}
<div class="form-content">
  <form method="POST">
      {% csrf_token %}
      {% for field in form %}
       <div class="form-group">
         <div class="form-header">
           <div class="form-title">
             {% render_field field.label %}　
           </div>
            <p class="must-or-not">
             {% if field.field.required %}必須{% endif %}
           </p>
         </div>
         {% render_field field class="input is-primary" %}
         {% if field.help_text %}
           <small class="form-text text-muted">
             {{ field.help_text }}
           </small>
         {% endif %}
       </div>
     {% endfor %}
      <div class="agree">
        <input type="checkbox" required>
        <label for="music">
          <a href="/footer-content/?pattern=rule" target="_blank">利用規約</a>・
          <a href="/footer-content/?pattern=privacy" target="_blank">プライバシーポリシー</a>
          に同意する</label>
      </div>
      <div class="g-recaptcha" data-sitekey="6LffvWgaAAAAAEwCrsrcNLJr8DyjgnUx4p5JMLed"></div>
      <button id="open" class="button is-primary for-submit" type="submit" onclick="return check()">投稿する</button>
      <!--button id="open" data-toggle="modal" data-target="#testModal" class="button is-primary for-submit" type="submit" onclick="return check()">投稿する</button-->
      {% if text != 'none' %}
      <div id="submited" style="color:red">{{ text }}</div>
      {% endif %}
  </form>
  <!--div class="modal fade form-content" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div id="mask" class="modal-body"></div>
      <section id="modal" class="">
        <img src="{% static 'img/handclap.jpg' %}" alt="">
        <div class="thnk">ありがとうございます！</div>
        <p>この度は、投稿していただきありがとうございます。<br>ぜひ、SNSでシェアしてください。</p>

        <ul class="shareList">
          <li class="shareList__item">
            <a class="shareList__link icon-twitter" href="https://twitter.com/share?url=https://hospeee.com{{ request.get_full_path }}&via=To_Hospee&text={{ post.title }}" rel="nofollow" target="_blank" title="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="shareList__item">
            <a class="shareList__link icon-facebook" href="http://www.facebook.com/share.php?u=https://hospeee.com{{ request.get_full_path }}" rel="nofollow" target="_blank" title="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
        <div id="close" onclick="setAlert();">閉じる</div>
      </section>
  </div-->
</div>
{% endblock %}
