{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/main_app/home.css' %}">{% endblock %}
{% block title %}ホーム{% endblock %}
{% block meta_description %}<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)は、病院実習に特化したクチコミサイトです。また、看護師・理学療法士といった専攻を限定せず病院実習を行う全ての医療系学生のためのサイトです">{% endblock %}

{% block content %}
<div class="all-section">

<div class="img-section">
  <img src="{% static 'img/home.jpg' %}" alt="">
  <div class="img-text-section">
    <div class="header-text">Hospee</div>
    <h2><p>病院実習のための情報サイト</p></h2>
  </div>
</div>

<div class="contents-section">
  <div class="box-section">
  <div class="box-header-text"><h5>新着投稿</h5></div>
    <div class="main-box">
      <ul class="top-block">
        {% for index, row in datas.iterrows %}
        <li>
          <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
            <div class="top-content-bk">
              <div class="main-top-text">
                <div class="hospital-name">{{ row.hospital_name }}</div>
                <div class="box-sub-text">{{ row.place }},{{ row.major }}</div>
                <div class="post-date">投稿日：</div>{{ row.date }}
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <center>
    <a href="https://px.a8.net/svt/ejp?a8mat=3H82TQ+8P642A+50+2HH8I9" rel="nofollow">
    <img border="0" width="728" height="90" alt="" src="https://www28.a8.net/svt/bgt?aid=210328910526&wid=005&eno=01&mid=s00000000018015029000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3H82TQ+8P642A+50+2HH8I9" alt="">
  </center>
  <div class="main-section">
    <div class="content-header-text"><h5>コンテンツ</h5></div>
    <ul class="inline-block">
    	<li id="content-no1">
        <a href="/search/">
          <div class="main-content-bk">
            <i class="fas fa-search fa-6x"></i>
            <div class="main-sub-text">口コミを探す</div>
          </div>
        </a>
      </li>
    	<li id="content-no2">
        <a href="/form/">
          <div class="main-content-bk">
            <i class="far fa-edit fa-6x"></i>
            <div class="main-sub-text">口コミを投稿する</div>
          </div>
        </a>
      </li><br>
      <li id="content-no3">
        <a href="/hospee/about_us">
          <div class="main-content-bk content-no3">
            <i class="fas fa-info-circle fa-6x"></i>
            <div class="main-sub-text">このサイトについて</div>
          </div>
        </a>
      </li>
      <li id="content-no4">
        <a href="{% url 'media_service:main_url' %}" target="_blank">
          <div class="main-content-bk">
            <i class="fas fa-blog fa-6x"></i>
            <div class="main-sub-text">Hospeeメディア</div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="lanking-section">
    <div class="content-header-text"><h5>人気のコンテンツ</h5></div>
    <div>
      <ul class="lank-g">
        {% for index, row in df_list.iterrows %}
        <li>
          <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
            <div class="text-g">
              <div class="crown">
              {% if row.rank == 1 %}
                <span class="fa-stack fa-lg crw rank1">
        					<i class="fas fa-crown fa-stack-2x"></i>
        					<i class="fa fa-inverse fa-stack-1x">{{ row.rank }}</i>
        				</span>
              {% elif row.rank == 2 %}
              <span class="fa-stack fa-lg crw rank2">
                <i class="fas fa-crown fa-stack-2x"></i>
                <i class="fa fa-inverse fa-stack-1x">{{ row.rank }}</i>
              </span>
              {% elif row.rank == 3 %}
              <span class="fa-stack fa-lg crw rank3">
                <i class="fas fa-crown fa-stack-2x"></i>
                <i class="fa fa-inverse fa-stack-1x">{{ row.rank }}</i>
              </span>
              {% else %}
              <span class="fa-stack fa-lg crw">
                <i class="fa fa-inverse fa-stack-1x rank45">{{ row.rank }}</i>
              </span>
              {% endif %}
              </div>
                <div class="lank-top-text">
                  {{ row.hospital_name }}（{{ row.place }}）
                </div>
                <div class="lank-count">
                  {{ row.counter }}件の口コミ
                </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="all-count">
      全クチコミ件数：{{ all_record }}件
    </div>
  </div>
</div>
<center style="margin-top:60px;">
  <a href="https://px.a8.net/svt/ejp?a8mat=3H9XD5+4CL3YQ+2PEO+OOUGH" rel="nofollow">
  <img border="0" width="336" height="280" alt="" src="https://www29.a8.net/svt/bgt?aid=210415145263&wid=005&eno=01&mid=s00000012624004147000&mc=1"></a>
  <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3H9XD5+4CL3YQ+2PEO+OOUGH" alt="">
</center>

</div>
{% endblock %}
