{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/main_app/individual.css' %}">{% endblock %}
{% block js_file %}<script type="text/javascript" src="{% static 'js/individual.js' %}"></script>{% endblock %}
{% block title %}{{ hospital_name }}の実習クチコミ{% endblock %}
{% block meta_description %}
<meta name="description" content="{{ pref_name }}にある{{ hospital_name }}の実習のクチコミです。実習担当者はどんな人？レポートでどのくらい？実習環境は問題ない？など
みんなの疑問を解決することができます。閲覧も投稿も完全無料です。">
{% endblock %}
{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@To_Hospee" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:title" content="{{ hospital_name }}の実習クチコミ" />
<!--meta property="og:description" content="[TEST]記事の要約" /-->
<meta property="og:image" content="https://hospeee.com/media/media/{{ hospital_name }}-card.png" />
{% endblock %}

{% block content %}
<div class="main-content">
<div class="left-wrap">
  <!--a href="https://twitter.com/share?url=https://hospeee.com&hashtags=hospee" target="_blank"-->
  <a href="https://twitter.com/share?url={{ now_uri }}&hashtags=hospee" target="_blank">
    <i class="fab fa-twitter twitter-icon"></i>
  </a>
  <!--a href="#">
    <i class="fab fa-facebook-f facebook-icon"></i>
  </a-->
</div>

  <div class="side-wrap">
    <!--a href="#">
      <div class="ads-group">
        <div class="advertise"><i class="fas fa-plus"></i>この病院をフォロー</div>
      	<div class="box">
      		<p class="text">新着口コミが追加されると、メールで通知します</p>
      	</div>
      </div>
    </a-->
    <a href="https://px.a8.net/svt/ejp?a8mat=3H9XD5+490IC2+4JX4+631SX" rel="nofollow">
    <img border="0" width="300" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=210415145257&wid=005&eno=01&mid=s00000021244001022000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3H9XD5+490IC2+4JX4+631SX" alt="">
    <a href="https://px.a8.net/svt/ejp?a8mat=3H9XD5+4CL3YQ+2PEO+OOUGH" rel="nofollow">
    <img border="0" width="336" height="280" alt="" src="https://www29.a8.net/svt/bgt?aid=210415145263&wid=005&eno=01&mid=s00000012624004147000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3H9XD5+4CL3YQ+2PEO+OOUGH" alt="">
    <div class="recommend">
      <div class="recommend-text"><u>あなたへのおすすめ</u></div>
      {% for index, row in related_df.iterrows %}
      <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
        <div class="recommend-box">
          <div class="rcd-content">
            <div class="rcd-hospital-name">
		    <b>{{ row.hospital_name }}</b>
            </div>
            <div class="rcd-place">
              病院所在地：{{ row.place }}
            </div>
            <div class="star-category">
              <div class="star5_rating" data-rate="{{ row.average_score }}">
              </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
            </div>
            <div class="rcd-count">
              クチコミ件数：{{ row.counter }}件
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <main>
  <h1><div class="header-tab">
    <p class="header-top">病院評価スコア - </p>
    <p class="header-sub">{{ hospital_name }}</p>
  </div></h1>

  <div class="box">
    <div class="hospital_name">
      {{ hospital_name }}
    </div>
    <div class="hospital-url">回答者：{{ all_count }}人</div>
    <div class="star-category star-first" id="star-all">
      総合評価：
      <div class="star5_rating" data-rate="{{ review_average }}">
      </div>&nbsp;&nbsp;<b>{{ review_average }}</b>
    </div>
    <div class="star-category star-in" id="star-content">
      <li>実習担当者について：
        <div class="star5_rating" data-rate="{{ review_average_people }}">
        </div>&nbsp;&nbsp;<b>{{ review_average_people }}</b>
      </li>
    </div>
    <div class="star-category" id="star-content">
      <li>レポートについて：
        <div class="star5_rating" data-rate="{{ review_average_report }}">
        </div>&nbsp;&nbsp;<b>{{ review_average_report }}</b>
      </li>
    </div>
    <div class="star-category" id="star-content">
      <li>コミュニケーションについて：
        <div class="star5_rating" data-rate="{{ review_average_communicaion }}">
        </div>&nbsp;&nbsp;<b>{{ review_average_communicaion}}</b>
      </li>
    </div>
    {% if url == "" %}
    <div class="hospital-url url2">
      {{ url_text }}
    </div>
    {% else %}
    <div class="hospital-url">
      URL : <a href="{{ url }}" target="_blank">{{ url_text }}</a>
    </div>
    {% endif %}

  </div>

  <h1><div class="header-tab" id="second-g">
    <p class="header-top">カテゴリ別の口コミ({{ category_count }}件) - </p>
    <p class="header-sub">{{ hospital_name }}</p>
  </div></h1>

  <div class="category-group">
    <ul id="nav">
      <a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about=people&page=1&sort=normal">
        <li>
          <i class="fas fa-user"></i>
          実習担当者について
          <span class="count">（{{ comment_people_counter }}件）</span>
          <span class="mark">></span>
        </li>
      </a>
      <a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about=report&page=1&sort=normal">
        <li>
          <i class="far fa-file-alt"></i>
          レポートについて
          <span class="count">（{{ comment_report_counter }}件）</span>
          <span class="mark">></span>
        </li>
      </a>
      <a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about=communication&page=1&sort=normal">
        <li class="nav-com">
          <i class="fas fa-comments"></i>
          コミュニケーションについて
          <span class="count">（{{ comment_communication_counter }}件）</span>
          <span class="mark">></span>
        </li>
      </a>
    </ul>
  </div>

  <h1><div class="header-tab" id="thrid-g">
    <p class="header-top">回答者別の口コミ({{ all_count }}件) - </p>
    <p class="header-sub">{{ hospital_name }}</p>
  </div></h1>

  <div class="answer-group">
    <ul id="nav_gender">
      <li id="gender_type">性別：</li>
      <li id="gender_man"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about=&gender=man&page=1&sort=normal">男性</a></li>
      <li id="gender_woman"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about=&gender=woman&page=1&sort=normal">女性</a></li>
    </ul>

    <ul id="nav_ptn_2">
      {% for index, row in df_date.iterrows %}
      <a href="/list/individual/user_answer/?id={{ row.id }}&hospital_name={{ row.hospital_name }}&pref={{ row.place_name }}">
        <li>
          <div class="personal_group">
            <p class="i_mark">></p>
            <div class="personal_own">
              <p class="personal_major">{{ row.major }}</p>
              <p class="personal_gender">{{ row.year }}年に実習</p>
              <p class="personal_gender">{{ row.sex }}</p>
            </div>
            <div class="personal_own_2">
                <p class="star5_rating" data-rate="{{ row.review }}.0"></p>
                  &nbsp;&nbsp;<b>{{ row.review }}</b>
                <p class="personal_date">{{ row.date }}</p>
            </div>
          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
    {% if all_count > 5 %}
    <a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=normal" id="answer-tag">
      <div class="anwer_for_all">
        回答者一覧を見る({{ all_count }}件)  >>
      </div>
    </a>
    {% endif %}
  </div>

  <h1>
    <div class="header-tab" id="second-g">
      <p class="header-top">{{ hospital_name }} におけるその他のクチコミ情報</p>
    </div>
  </h1>
  <div class="info-box">
    <div class="info-topic First">
      <div class="icon left-group"><i class="fas fa-user fa-3x"></i></div>
      <div class="right-group">
        <div class="comment">
          {{ hospital_name }}が<b>"就職先としてどうなのか"</b>、
          <b>”どれだけ教育に力を入れているか”</b>など
          皆さんが考えること・感じること、ぜひ書き込んでください！
        </div>
        <ul>
          <li class="username">Hospee運営</li>
          <li class="date"></li>
        </ul>
      </div>
    </div>
    {% for obj in database %}
      {% if forloop.counter|divisibleby:2 %}
      <div class="info-topic Even">
        <div class="icon left-group"><i class="fas fa-user fa-3x"></i></div>
        <div class="right-group">
          <div class="comment">
            {{ obj.info }}
          </div>
          <ul>
            <li class="username">{{ obj.username }}さん</li>
            <li class="date">{{ obj.date }}に投稿</li>
          </ul>
        </div>
      </div>
      {% else %}
      <div class="info-topic Odd">
        <div class="icon left-group"><i class="fas fa-user fa-3x"></i></div>
        <div class="right-group">
          <div class="comment">
            {{ obj.info }}
          </div>
          <ul>
            <li class="username">{{ obj.username }}さん</li>
            <li class="date">{{ obj.date }}に投稿</li>
          </ul>
        </div>
      </div>
      {% endif %}
    {% endfor %}

  </div>
  {% if not user.is_authenticated %}
    <div class="info-box-submit">
      <p class="p1">その他の観点からのクチコミ情報の投稿はログインしてから使用できます</p>
      <p class="p2"><a href="/accounts/create/">こちらから</a>どうぞ</p>
      <img src="{% static 'img/blur.png' %}" alt="">
    </div>

  {% else %}
    <div class="info-box-submit">
      <div class="form-group">
       <div class="form-header">
         <div class="form-title"></div>
          <p class="must-or-not"></p>
       </div>
       <p><b>その他のクチコミ情報を投稿する</b></p>
       <!--div class="index mouse">こちらを参考にどうぞ
         <span class="word">文字出ます</span>
       </div-->
       <p class="index mouse">
         <a>例えばこんなクチコミ...</a>
         <span class="word"><b>”実習先への交通手段”</b>や<br><b>”就業と実習時の違い”</b>など</span>
       </p>
       <form method="POST">
           {% csrf_token %}
       {% render_field form.info class="input is-primary" type="password" id="id_review_people_comment" %}
        <br>
       </div>
       <div class="field">
          <p class="control">
            <button class="button is-success" type="submit">送信</button>
          </p>
        </div>
      </form>
    </div>
  {% endif %}
  </main>

  <div class="left-wrap2">
    <a href="https://twitter.com/share?url=https://hospeee.com&hashtags=hospee" target="_blank">
    <!--a href="https://twitter.com/share?url=https://hospeee.com/list/individual/?pref={{ pref_query }}%26hospital_name={{ encode_name }}&hashtags=hospee" target="_blank"-->
      <i class="fab fa-twitter twitter-icon"></i>
    </a>
  </div>

  <div class="side-wrap2">
    <!--a href="#">
      <div class="ads-group">
        <div class="advertise"><i class="fas fa-plus"></i>この病院をフォロー</div>
      	<div class="box">
      		<p class="text">新着口コミが追加されると、メールで通知します</p>
      	</div>
      </div>
    </a-->

    <div class="recommend">
      <div class="recommend-text"><u>あなたへのおすすめ</u></div>
      {% for index, row in related_df.iterrows %}
      <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
        <div class="recommend-box">
          <div class="rcd-content">
            <div class="rcd-hospital-name">
		            <b>{{ row.hospital_name }}</b>
            </div><br>
            <div class="rcd-place">
              病院所在地：{{ row.place }}
            </div>
            <div class="star-category">
              <div class="star5_rating" data-rate="{{ row.average_score }}">
              </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
            </div>
            <div class="rcd-count">
              クチコミ件数：{{ row.counter }}件
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
