{% extends 'base.html' %}
{% load static %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/main_app/list.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block js_file %}<script type="text/javascript" src="{% static 'js/list.js' %}"></script>{% endblock %}
{% block title %}病院を探す{% endblock %}


{% block content %}
<div class="main-content">
  <form method="get" action="" class="search_container">
    <input name="query" type="text" size="25" placeholder="病院名を入力">
    <input type="submit" value="検索">
  </form>
  {% if query == False %}
    <h1><div class="midashi">病院を探す</div></h1>
      {% if sort == '1' %}
      <div class="tabs is-medium">
        <ul>
          <li class="index-tab"><a>表示順：</a></li>
          <li class="is-active"><a href="/list?{{ param_p }}={{ param }}&page=1&sort=1">口コミ数</a></li>
          <li><a href="/list?{{ param_p }}={{ param }}&page=1&sort=2">ランキング</a></li>
        </ul>
      </div>
      {% elif sort == '2' %}
      <div class="tabs is-medium">
        <ul>
          <li class="index-tab"><a>表示順：</a></li>
          <li><a href="/list?{{ param_p }}={{ param }}&page=1&sort=1">口コミ数</a></li>
          <li class="is-active"><a href="/list?{{ param_p }}={{ param }}&page=1&sort=2">ランキング</a></li>
        </ul>
      </div>
      {% endif %}
    {% else %}
    <h1><div class="midashi" id="midashi2">病院を探す</div></h1>
    {% if sort == '1' %}
    <div class="tabs is-medium">
      <ul>
        <li class="index-tab"><a>表示順：</a></li>
        <li class="is-active"><a href="">口コミ数</a></li>
        <li><a href="">ランキング</a></li>
      </ul>
    </div>
    {% elif sort == '2' %}
    <div class="tabs is-medium">
      <ul>
        <li class="index-tab"><a>表示順：</a></li>
        <li><a href="">口コミ数</a></li>
        <li class="is-active"><a href="">ランキング</a></li>
      </ul>
    </div>
    {% endif %}
  {% endif %}
  <div class="side-wrap">
    <!--p class="advertise">広告枠</p-->
    {% if judge == True %}
    <div class="recommend">
      <div class="recommend-text"><u>近くの病院のクチコミ</u></div>
      {% for index, row in related_df.iterrows %}
      <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
        <div class="recommend-box">
          <div class="rcd-content">
            <div class="rcd-hospital-name">
		    <b> {{ row.hospital_name }}</b>
            </div>
            <div class="rcd-place">
              病院所在地：{{ row.place }}
            </div>
            <div class="star-category">
              <div class="star5_rating" data-rate="{{ row.average_score }}">
              </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
            </div>
            <div class="rcd-count">
              クチコミ件数：{{ row.counter }}件
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <div class="recommend-none" id="if-none">
    </div>
    {% endif %}
  </div>
  {% if content == True %}
  <div class="hospital-wrap-g">
    {% for index, row in result.iterrows %}
    <div class="hospital-wrap">
      <div class="hospital-content">
        <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
          <center><div class="hospital-name-bg">
            <div class="name">{{ row.hospital_name }}</div>
          </div></center>
        </a>
        <div class="pref-category">
          病院所在地：<a href="?pref={{ row.place_name }}&page=1&sort=1">{{ row.place }}</a>
        </div>
        <center>
          <div class="star-category">
            {{ row.txt }}：
            <div class="star5_rating" data-rate="{{ row.review }}">
            </div>&nbsp;&nbsp;<b>{{ row.review }}</b>
          </div>
        </center>
        <div class="major-category">
          {% if row.major_0 == 0 %}
          {% elif row.major_0 == None %}
          {% else %}
          <div class="major-tag"><a href="?major={{ row.major_0_name }}&page=1&sort=1">#{{ row.major_0 }}</a></div>
          {% endif %}
          {% if row.major_1 == 0 %}
          {% elif row.major_1 == None %}
          {% else %}
          <div class="major-tag"><a href="?major={{ row.major_1_name }}&page=1&sort=1">#{{ row.major_1 }}</a></div>
          {% endif %}
          {% if row.major_2 == 0 %}
          {% elif row.major_2 == None %}
          {% else %}
          <div class="major-tag"><a href="?major={{ row.major_2_name }}&page=1&sort=1">#{{ row.major_2}}</a></div>
          {% endif %}
          {% if row.major_3 == 0 %}
          {% elif row.major_3 == None %}
          {% else %}
          <div class="major-tag"><a href="?major={{ row.major_3_name }}&page=1&sort=1">#{{ row.major_3 }}</a></div>
          {% endif %}
          {% if row.major_4 == 0 %}
          {% elif row.major_4 == None %}
          {% else %}
          <div class="major-tag"><a href="?major={{ row.major_4_name }}&page=1&sort=1">#{{ row.major_4 }}</a></div>
          {% endif %}
        </div>
        <div class="count-category">クチコミ件数：{{ row.count }}件</div>
      </div>
    </div>
    {% endfor %}
    </div>
    <div class="paginator">
      <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        {% if previous_page != 0 %}{# page=1以外 #}
        <a class="pagination-previous" href="/list/?{{ param_p }}={{ param }}&page={{ previous_page }}&sort={{ sort }}">Previous</a>
        {% endif %}
        {% if page != last_page %}
        <a class="pagination-next" href="/list/?{{ param_p }}={{ param }}&page={{ next_page }}&sort={{ sort }}">Next page</a>
        {% endif %}
        <ul class="pagination-list">
          {% if page == 1 %}{# now page is 1 #}
            {% if last_page == 2 %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/?{{ param_p }}={{ param }}&page=1&sort={{ sort }}">1</a></li>
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/?{{ param_p }}={{ param }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% elif last_page == 1 %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/?{{ param_p }}={{ param }}&page=1&sort={{ sort }}">1</a></li>
            {% else %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/?{{ param_p }}={{ param }}&page=1&sort={{ sort }}">1</a></li>
            <li><span class="pagination-ellipsis">…</span></li>
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/?{{ param_p }}={{ param }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% endif %}
          {% elif page == last_page %}{# now page is last #}
            {% if last_page != 2 %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="/list/?{{ param_p }}={{ param }}&page=1&sort={{ sort }}">1</a></li>
            <li><span class="pagination-ellipsis">…</span></li>
            <li><a class="pagination-link is-current" aria-label="Goto page 86" href="/list/?{{ param_p }}={{ param }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% else %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="/list/?{{ param_p }}={{ param }}&page=1&sort={{ sort }}">1</a></li>
            <li><a class="pagination-link is-current" aria-label="Goto page 86" href="/list/?{{ param_p }}={{ param }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% endif %}
          {% else %}
            <li><a class="pagination-link" aria-label="Goto page 45" href="/list/?{{ param_p }}={{ param }}&page=1&sort={{ sort }}">1</a></li>
            {% if page != 2 %}
            <li><span class="pagination-ellipsis">…</span></li>
            {% endif %}
            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page" href="/list/?{{ param_p }}={{ param }}&page={{ page }}&sort={{ sort }}">{{ page }}</a></li>
            {% if page != last_previous_page %}
            <li><span class="pagination-ellipsis">…</span></li>
            {% endif %}
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/?{{ param_p }}={{ param }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% else %}
    <div class="no-content-wrap">
      <div class="no-content-box">
        <p>現在、選択されたカテゴリーには、投稿されたコンテンツがございません。<br>ぜひ、下記からコンテンツをご投稿ください</p>
      </div>
      <a class="button" href="/form/">口コミを投稿する</a>
    </div>
    {% endif %}

    <div class="side-wrap2">
      <!--p class="advertise">広告枠</p-->
      {% if judge == True %}
      <div class="recommend">
        <div class="recommend-text"><u>近くの病院のクチコミ</u></div>
        {% for index, row in related_df.iterrows %}
        <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
          <div class="recommend-box">
            <div class="rcd-content">
              <div class="rcd-hospital-name">
		      <b>{{ row.hospital_name }}</b>
              </div>
              <div class="rcd-place">
                病院所在地：{{ row.place }}
              </div>
              <div class="star-category">
                <div class="star5_rating" data-rate="{{ row.average_score }}">
                </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
              </div>
              <div class="rcd-count">
                クチコミ件数：{{ row.counter }}件
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      {% else %}
      <div class="recommend-none" id="if-none">
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}
