{% extends 'base.html' %}
{% load static %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/main_app/user_list.css' %}">
{% endblock %}
{% block title %}{{ hospital_name }}のクチコミ一覧{% endblock %}
{% block meta_description %}
<meta name="description" content="{{ hospital_name }}の実習クチコミ一覧です。「実習先について知りたい..」という声にお答えして、過去に同じ実習先に行った方のクチコミを掲載しております。
リアルな情報を知り、実習に向けて準備を進めましょう！">
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="side-wrap">
    <!--広告その1-->
    <a href="https://px.a8.net/svt/ejp?a8mat=3H9XD5+490IC2+4JX4+631SX" rel="nofollow">
    <img border="0" width="300" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=210415145257&wid=005&eno=01&mid=s00000021244001022000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3H9XD5+490IC2+4JX4+631SX" alt="">
    <div class="recommend">
      <div class="recommend-text"><u>あなたへのおすすめ</u></div>
      {% for index, row in related_df.iterrows %}
      <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
        <div class="recommend-box">
          <div class="rcd-content">
            <div class="rcd-hospital-name">
		            <b>{{ row.hospital_name }}</b>
            </div>
            <div class="rcd-place">
              病院所在地：{{ row.place }}
            </div>
            <div class="star-category">
              <div class="star5_rating" data-rate="{{ row.average_score }}">
              </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
            </div>
            <div class="rcd-count">
              クチコミ件数：{{ row.counter }}件
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <main>
  <h2>
    <div class="header-tab">
    <p class="header-top">{{ hospital_name }}</p>
    <div class="star_and_comment">
      <div class="star-category" id="star-all">
      <div class="star5_rating" data-rate="{{ score }}">
      </div>&nbsp;&nbsp;<b>{{ score }}</b>
      </div>
      <div class="all_count">
        <i class="fas fa-comment-alt fa-sm"></i>
        病院クチコミ：{{ length }}件
      </div>
    </div>
    </div>
  </h2>
  <div class="second-tab" id="second-g">
    <p class="second-top">回答者別のクチコミ - </p>
    <p class="second-sub">X病院</p>
  </div>
  <div class="answer-group">
    <ul id="nav_gender">
      <li id="gender_type">性別：</li>
      {% if about != "" %}
        {% if gender_query == "man" %}
        <li id="gender_man" class="is-current"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=man&page=1&sort={{ sort }}">男性</a></li>
        <li id="gender_woman"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=woman&page=1&sort={{ sort }}">女性</a></li>
        {% elif  gender_query == "woman" %}
        <li id="gender_man"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=man&page=1&sort={{ sort }}">男性</a></li>
        <li id="gender_woman" class="is-current"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=woman&page=1&sort={{ sort }}">女性</a></li>
        {% else %}
        <li id="gender_man"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=man&page=1&sort={{ sort }}">男性</a></li>
        <li id="gender_woman"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=woman&page=1&sort={{ sort }}">女性</a></li>
        {% endif %}
      {% else %}
      {% if gender_query == "man" %}
        <li id="gender_man" class="is-current"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=man&page=1&sort={{ sort }}">男性</a></li>
        <li id="gender_woman"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=woman&page=1&sort={{ sort }}">女性</a></li>
        {% elif  gender_query == "woman" %}
        <li id="gender_man"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=man&page=1&sort={{ sort }}">男性</a></li>
        <li id="gender_woman" class="is-current"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=woman&page=1&sort={{ sort }}">女性</a></li>
        {% else %}
        <li id="gender_man"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=man&page=1&sort={{ sort }}">男性</a></li>
        <li id="gender_woman"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&gender=woman&page=1&sort={{ sort }}">女性</a></li>
        {% endif %}
      {% endif %}
    </ul>
    <div class="tabs">
    <ul>
      {% if sort == 'normal' %}
      <li class="is-active"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=normal">標準 ▼</a></li>
      <li><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=date">回答日</a></li>
      <li><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=score">総合評価</a></li>
      {% elif sort == 'date' %}
      <li><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=normal">標準</a></li>
      <li class="is-active"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=date">回答日 ▼</a></li>
      <li><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=score">総合評価</a></li>
      {% elif sort == 'score' %}
      <li><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=normal">標準</a></li>
      <li><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=date">回答日</a></li>
      <li class="is-active"><a href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort=score">総合評価 ▼</a></li>
      {% endif %}
    </ul>
  </div>
    <ul id="nav_ptn_2">
      {% for index, row in datas.iterrows %}
      <a href="/list/individual/user_answer/?id={{ row.id }}&hospital_name={{ row.hospital_name }}&pref={{ row.place_name }}">
        <li>
          <div class="personal_group">
            <p class="i_mark">></p>
            <div class="personal_own">
              <p class="personal_major">{{ row.major }}</p>
              <p class="personal_gender">{{ row.year }}年に実習</p>
              <p class="personal_gender">{{ row.sex }}</p>
            </div>
            <div class="personal_own_2">
                <p class="star5_rating" data-rate="{{ row.review }}.0"></p>
                  &nbsp;&nbsp;<b>{{ row.review }}</b>
                <p class="personal_date">{{ row.date }}</p>
            </div>
          </div>
        </li>
      </a>
      {% endfor %}
      {% if content_is_none is True %}
        <div class="content_is_none"></div>
      {% endif %}
    </ul>
  </div>

  {% if content_is_none is not True %}
  <div class="paginator">
    {% if about != "" %}
      <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        {% if previous_page != 0 %}{# page=1以外 #}
        <a class="pagination-previous" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ previous_page }}&sort={{ sort }}">Previous</a>
        {% endif %}
        {% if page != last_page %}
        <a class="pagination-next" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ next_page }}&sort={{ sort }}">Next page</a>
        {% endif %}
        <ul class="pagination-list">
          {% if page == 1 %}{# now page is 1 #}
            {% if last_page == 2 %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page=1&sort={{ sort }}">1</a></li>
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% elif last_page == 1 %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page=1&sort={{ sort }}">1</a></li>
            {% else %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page=1&sort={{ sort }}">1</a></li>
            <li><span class="pagination-ellipsis">…</span></li>
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% endif %}
          {% elif page == last_page %}{# now page is last #}
            {% if last_page != 2 %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page=1&sort={{ sort }}">1</a></li>
            <li><span class="pagination-ellipsis">…</span></li>
            <li><a class="pagination-link is-current" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% else %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page=1&sort={{ sort }}">1</a></li>
            <li><a class="pagination-link is-current" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% endif %}
          {% else %}
            <li><a class="pagination-link" aria-label="Goto page 45" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page=1&sort={{ sort }}">1</a></li>
            {% if page != 2 %}
            <li><span class="pagination-ellipsis">…</span></li>
            {% endif %}
            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ page }}&sort={{ sort }}">{{ page }}</a></li>
            {% if page != last_previous_page %}
            <li><span class="pagination-ellipsis">…</span></li>
            {% endif %}
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&about={{ about }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
          {% endif %}
        </ul>
      </nav>
    {% else %}
      <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        {% if previous_page != 0 %}{# page=1以外 #}
        <a class="pagination-previous" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ previous_page }}&sort={{ sort }}">Previous</a>
        {% endif %}
        {% if page != last_page %}
        <a class="pagination-next" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ next_page }}&sort={{ sort }}">Next page</a>
        {% endif %}
        <ul class="pagination-list">
          {% if page == 1 %}{# now page is 1 #}
            {% if last_page == 2 %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort={{ sort }}">1</a></li>
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% elif last_page == 1 %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort={{ sort }}">1</a></li>
            {% else %}
            <li><a class="pagination-link is-current" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort={{ sort }}">1</a></li>
            <li><span class="pagination-ellipsis">…</span></li>
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% endif %}
          {% elif page == last_page %}{# now page is last #}
            {% if last_page != 2 %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort={{ sort }}">1</a></li>
            <li><span class="pagination-ellipsis">…</span></li>
            <li><a class="pagination-link is-current" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% else %}
            <li><a class="pagination-link" aria-label="Goto page 1" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort={{ sort }}">1</a></li>
            <li><a class="pagination-link is-current" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
            {% endif %}
          {% else %}
            <li><a class="pagination-link" aria-label="Goto page 45" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page=1&sort={{ sort }}">1</a></li>
            {% if page != 2 %}
            <li><span class="pagination-ellipsis">…</span></li>
            {% endif %}
            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ page }}&sort={{ sort }}">{{ page }}</a></li>
            {% if page != last_previous_page %}
            <li><span class="pagination-ellipsis">…</span></li>
            {% endif %}
            <li><a class="pagination-link" aria-label="Goto page 86" href="/list/individual/user_list/?pref={{ pref_query }}&hospital_name={{ hospital_name }}&page={{ last_page }}&sort={{ sort }}">{{ last_page }}</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
  {% endif %}

  <div class="back-hospital-page-cover">
    <a href="/list/individual/?pref={{ place }}&hospital_name={{ hospital_name }}">
      <div class="back-hospital-page">
        病院ページへ戻る
      </div>
    </a>
  </div>
  </main>
  <div class="side-wrap2">
    <div class="recommend">
      <div class="recommend-text"><u>あなたへのおすすめ</u></div>
      {% for index, row in related_df.iterrows %}
      <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
        <div class="recommend-box">
          <div class="rcd-content">
            <div class="rcd-hospital-name">
		            <b>{{ row.hospital_name }}</b>
            </div><br>
            <div class="rcd-place">
              病院所在地：{{ row.place }}
            </div>
            <div class="star-category">
              <div class="star5_rating" data-rate="{{ row.average_score }}">
              </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
            </div>
            <div class="rcd-count">
              クチコミ件数：{{ row.counter }}件
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
