{% extends 'base.html' %}
{% load static %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/main_app/user_answer.css' %}">

{% endblock %}
{% block js_file %}
<script src="{% static 'js/ajax.js' %}" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script>let myurl = {"base": "{% url 'main_app:home' %}"};</script>
{% endblock %}
{% block title %}{{ hospital_name }}の投稿者別口コミ{% endblock %}
{% block meta_description %}
<meta name="description" content="{{ hospital_name }}のクチコミ">
{% endblock %}

{% block content %}
<div class="main-content">
<div class="left-wrap">
  <a href="https://twitter.com/share?url=https://hospeee.com&hashtags=hospee" target="_blank">
    <i class="fab fa-twitter twitter-icon"></i>
  </a>
  <!--a href="#">
    <i class="fab fa-facebook-f facebook-icon"></i>
  </a-->
</div>
  <div class="side-wrap">
    <!--広告 その1-->
    <a href="https://px.a8.net/svt/ejp?a8mat=3H9XD5+4CL3YQ+2PEO+OOUGH" rel="nofollow">
    <img border="0" width="336" height="280" alt="" src="https://www29.a8.net/svt/bgt?aid=210415145263&wid=005&eno=01&mid=s00000012624004147000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3H9XD5+4CL3YQ+2PEO+OOUGH" alt="">
    <!--広告 その2-->
    <a href="https://px.a8.net/svt/ejp?a8mat=3H9XD5+490IC2+4JX4+631SX" rel="nofollow">
    <img border="0" width="300" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=210415145257&wid=005&eno=01&mid=s00000021244001022000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3H9XD5+490IC2+4JX4+631SX" alt="">

    <div class="recommend">
      <div class="recommend-text"><u>あなたへのおすすめ</u></div>
      {% for index, row in related_df.iterrows %}
      <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
        <div class="recommend-box">
          <div class="rcd-content">
            <div class="rcd-hospital-name">
		    <b>{{ row.hospital_name }}</b>
            </div>
            <div class="rcd-place">
              病院所在地：{{ row.place }}
            </div>
            <div class="star-category">
              <div class="star5_rating" data-rate="{{ row.average_score }}">
              </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
            </div>
            <div class="rcd-count">
              クチコミ件数：{{ row.counter }}件
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <main>
  <div class="header-tab">
    <h2><p class="header-top">{{ hospital_name }}</p></h2>
    <div class="star-category" id="star-all">
      <div class="star5_rating" data-rate="{{ score }}">
      </div>&nbsp;&nbsp;<b>{{ score }}</b>
    </div>
    <div class="all_count">
      <i class="fas fa-comment-alt fa-sm"></i>
      病院クチコミ：{{ length }}件
    </div><br><br>

      {% if liked == True %}
      <div class="like-button">
        <a id="LikeMain" class="btn1" role="button" aria-pressed="true" onclick="likes(event, '{{ user }}', '{{ record_id }}')">
          <i class="fas fa-thumbs-up">(<span class="watashi2" id="Sample">{{ likes_cnt }}</span>)</i>
        </a>
      </div>
      {% else %}
      <div class="like-button">
        <a id="LikeMain" class="btn2" aria-pressed="false" onclick="likes(event, '{{ user }}', '{{ record_id }}')">
          <i class="fas fa-thumbs-up">(<span class="watashi1" id="Sample">{{ likes_cnt }}</span>)</i>
        </a>
      </div>
      {% endif  %}
  </div>
  <div class="second-tab" id="second-g">
    <p class="second-top">回答者別のクチコミ - </p>
    <p class="second-sub">{{ hospital_name }}</p>
  </div>
  {% for index, row in datas_o.iterrows %}
  <div style="margin:0px;padding:0px;" align="center" class="table">
    <table width="98%" style="border-collapse: collapse;border:1px solid #000000;background-color:#FFFFFF;color:#000000;text-align:left;">
      <tbody>
        <tr>
          <th style="border:1px solid	rgb(214,223,229);background-color:rgb(245,245,245);color:#000000;text-align:left;">回答者</th>
          <th style="border:1px solid	rgb(214,223,229);background-color:rgb(245,245,245);color:#000000;text-align:left;">実習年度</th>
          <th style="border:1px solid	rgb(214,223,229);background-color:rgb(245,245,245);color:#000000;text-align:left;">性別</th>
          <th style="border:1px solid	rgb(214,223,229);background-color:rgb(245,245,245);color:#000000;text-align:left;">回答日</th>
        </tr>
        <tr>
          <td style="border:1px solid	rgb(214,223,229);text-align:left;">{{ row.major }}</td>
          <td style="border:1px solid	rgb(214,223,229);text-align:left;">{{ row.year }}</td>
          <td style="border:1px solid	rgb(214,223,229);text-align:left;">{{ row.sex }}</td>
          <td style="border:1px solid	rgb(214,223,229);text-align:left;">{{ row.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="private-category">
    <div class="star-category" id="star-all-2">
      回答者による総合評価：
      <div class="star5_rating" data-rate="{{ row.review }}">
      </div>&nbsp;&nbsp;<b>{{ row.review }}</b>
    </div><br>
    <div class="star-sub-content">
      <div class="star-category" id="star-all-content">
        <li>実習担当者について：
          <div class="star5_rating" data-rate="{{ row.review_people }}">
          </div>&nbsp;&nbsp;<b>{{ row.review_people }}</b>
        </li>
      </div><br>
      <div class="star-category" id="star-all-content">
        <li>レポートについて：
          <div class="star5_rating" data-rate="{{ row.review_report }}">
          </div>&nbsp;&nbsp;<b>{{ row.review_report }}</b>
        </li>
      </div><br>
      <div class="star-category" id="star-all-content">
        <li>コミュニケーションについて：
          <div class="star5_rating" data-rate="{{ row.review_communication }}">
          </div>&nbsp;&nbsp;<b>{{ row.review_communication }}</b>
        </li>
      </div>
    </div>
    <div class="text-content">
    <div class="about-people">
      <div class="head-txt">実習担当者について</div>
      <div class="content-txt">
        {{ row.review_people_comment }}
      </div>
    </div>
    <div class="about-report">
      <div class="head-txt">レポートについて</div>
      <div class="content-txt">
        {{ row.review_report_comment }}
      </div>
    </div>
    <div class="about-communication">
      <div class="head-txt">コミュニケーションについて</div>
      <div class="content-txt">
        {{ row.review_communication_comment }}
      </div>
    </div>
    </div>
  </div>
  {% endfor %}
  <div class="back-hospital-page-cover">
    <a href="/list/individual/?pref={{ place }}&hospital_name={{ hospital_name }}">
      <div class="back-hospital-page">
        病院ページへ戻る
      </div>
    </a>
  </div>
  <div class="left-wrap2">
    <a href="https://twitter.com/share?url=https://hospeee.com&hashtags=hospee" target="_blank">
      <i class="fab fa-twitter twitter-icon"></i>
    </a>
  </div>
  {% if judge == True %}
  <div class="bottom-wrap">
    <span class="box-title">他の回答者のクチコミ</span>
    <ul id="nav_ptn_2">
      {% for index, row in related_df2.iterrows %}
      <a href="/list/individual/user_answer/?id={{ row.id }}&hospital_name={{ row.hospital_name }}&pref={{ row.place_name }}">
        <li>
          <div class="personal_group">
            <p class="i_mark">></p>
            <div class="personal_own">
              <p class="personal_major">{{ row.major }}</p>
              <p class="personal_gender">{{ row.year }}年に実習</p>
              <p class="personal_gender">{{ row.sex }}</p>
            </div>
            <div class="personal_own_2">
                <p class="star5_rating" data-rate="{{ row.review }}"></p>
                  &nbsp;&nbsp;<b>{{ row.review }}</b>
                <p class="personal_date">{{ row.date }}</p>
            </div>
          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  </main>

  <div class="side-wrap2">
    <div class="recommend">
      <div class="recommend-text"><u>あなたへのおすすめ</u></div>
      {% for index, row in related_df.iterrows %}
      <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
        <div class="recommend-box">
          <div class="rcd-content">
            <div class="rcd-hospital-name">
		            <b>{{ row.hospital_name }}</b>
            </div><br>
            <div class="rcd-place">
              病院所在地：{{ row.place }}
            </div>
            <div class="star-category">
              <div class="star5_rating" data-rate="{{ row.average_score }}">
              </div>&nbsp;&nbsp;<b>{{ row.average_score }}</b>
            </div>
            <div class="rcd-count">
              クチコミ件数：{{ row.counter }}件
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
