body{
  font-family:'メイリオ';
}

/*SmartPhone*/
@media screen and (max-width:560px){
  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 23px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }

  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
    background-color: rgb(106,191,176);
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :rgb(106,191,176);
  }

  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration :none;
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateX(0%);
  }
  header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(106,191,176);
    align-items: center;
    position: fixed;
    z-index: 1;
  }
  header h1 {
    text-align: center;
  }
  header h1 img{
    width:38%;
    height: auto;
  }
  .globalMenuSp a:link { color: white; }
  .globalMenuSp a:visited { color: white; }
  .globalMenuSp a:hover { color : white;}
  .globalMenuSp a:active { color: white; }
  .title {
    margin-right: auto;
  }
  .globalMenuSp{
    text-align:center;
  }
  .menu-item{
    list-style: none;
    display: inline-block;
    padding: 10px;
  }
  .content{
    padding-top: 70px;
  }
  .content {
    min-height: calc(500vw - 70px);
  }


}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  header {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: rgb(106,191,176);
    align-items: center;
    position: fixed;
    z-index: 1;
  }
  header h1 {
    text-align: center;
  }
  header h1 img{
    width:20%;
    height: auto;
  }
  .globalMenuSp a:link { color: white; }
  .globalMenuSp a:visited { color: white; }
  .globalMenuSp a:hover { color : white;}
  .globalMenuSp a:active { color: white; }
  .title {
    margin-right: auto;
  }
  .globalMenuSp{
    text-align:center;
  }
  .menu-item{
    list-style: none;
    display: inline-block;
    padding: 10px;
  }
  .content{
    padding-top: 110px;
  }
  .content {
    min-height: calc(90vw - 70px);
  }
}
/*PC*/
@media screen and (min-width:960px){
  header {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: rgb(106,191,176);
    align-items: center;
    position: fixed;
    z-index: 1;
  }
  header h1 {
    text-align: center;
  }
  header h1 img{
    width:8%;
    height: auto;
  }
  .globalMenuSp a:link { color: white; }
  .globalMenuSp a:visited { color: white; }
  .globalMenuSp a:hover { color : white;}
  .globalMenuSp a:active { color: white; }
  .title {
    margin-right: auto;
  }
  .globalMenuSp{
    text-align:center;
  }
  .menu-item{
    list-style: none;
    display: inline-block;
    padding: 10px;
  }
  .content{
    padding-top: 110px;
  }
  .content {
    min-height: calc(90vw - 70px);
  }
}

footer{
  background-color: rgb(106,191,176);
  text-align: center!important;
  color: white;
  position: absolute;
  width: 100%;
}
footer a{
  padding: 20px;
}
footer nav{
  padding: 5px;
  margin: 5px;
}
footer a:link { color: white; }
footer a:visited { color: white; }
footer a:hover { color: white; font-weight: bold;}
footer a:active { color: white; }
footer p{
  padding-top: 10px;/*jsから取得*/
}
.footer {
  height: 50px;
}
