body{
  font-family:'メイリオ';
  width: 100%;
}
.content {
  min-height: calc(90vw - 70px);
}
.footer {
  height: 50px;
}
.site-header{
  z-index:1;
  position: fixed;
  /*width: 100%;*/
}
section{
  z-index:1;
  /*position: fixed;
  width: 93%;*/
}

#navbarMenuHero1{
  background-color: rgb(106,191,176);
}
footer{
  width: 100%;
  background-color: rgb(106,191,176);
  text-align: center!important;
  color: white;
  position: absolute;
}
footer a{
  padding: 20px;
}
footer nav{
  padding: 5px;
  margin: 5px;
}
footer img{
  width:auto;
  height: 50px;
  padding-top: 10px;
}
footer a:link { color: white; }
footer a:visited { color: white; }
footer a:hover { color: white; font-weight: bold;}
footer a:active { color: white; }
footer p{
  padding-top: 10px;
}
