.form-content{
  padding-top: 100px;
  padding-left: 22%;
  padding-right: 22%;
}
.form-group{
  padding-bottom: 20px;
}
.must-or-not{
  background-color: red;
  color:white;
  float: left;
  border-radius:10px;
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 60px;
}
.form-title{
  float: left;
  color: black;
  font-weight: bold;
}

.form-header{
  /*padding-bottom: 20px;*/
}
#id_review_people_comment,#id_review_report_comment,#id_review_communication_comment{
  width:100%;
  height: 100px;
}
