/*SmartPhone*/
@media screen and (max-width:560px){
  .main-content{
    padding-top: 10px;
    padding-right: 2%;
    padding-left: 2%;
  }
  .side-wrap{
    display: none;
  }
  .side-wrap2{
    margin-top: 1300px;
    margin-right: 5%;
    margin-left: 5%;
  }
  .recommend{
    width : 100% ;
    border-radius: 5px;
    margin:auto;
    color: black;
    height:100%;
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px rgb(106,191,176,0.7);
    border-radius: 3px 0 3px 0;
    margin-top:5em;
  }
  .midashi {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
    float: left;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  .midashi:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }
  .hospital-wrap{
    float: left;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.2em 0.5em;
    margin: 1em 0;
    background: rgb(106,191,176,0.4);
    box-shadow: 0px 0px 0px 10px rgb(106,191,176,0.4);
    border: dashed 2px white;
  }

  .advertise{
    width : 100% ;
    padding-top : 100% ;
    background-color: green;
    margin:auto;
    color: black;
    margin-bottom: 100px;
  }
  #if-none{
    height: 800px;
  }

  .hospital-content{
    width : 100%;
    height: 150px;
    margin: 0;
    padding: 0;
  }

  .recommend:before,.recommend:after{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px rgb(106,191,176,0.7);
    border-radius: 50%;
  }
  .recommend:after {
    top:-12px;
    left:-12px;
  }
  .recommend:before {
    bottom:-12px;
    right:-12px;
  }
  .recommend-box{
    border:2px solid rgb(106,191,176);
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    margin-top:10px;
  }
  .recommend-box:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.45);
  }
  .rcd-hospital-name,.rcd-place{
    display: inline-block;
  }
  .rcd-hospital-name{
    font-size: 16px;
    margin-left: 10px;
  }
  .rcd-place{
    margin-left: 10px;
    font-size: 14px;
  }
  .rcd-count{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
  }
  .recommend a:link { color: gray; }
  .recommend a:visited { color: gray; }
  .recommend a:hover { color: gray; }
  .recommend a:active { color: gray; }


  .star5_rating{
      position: relative;
      z-index: 0;
      display: inline-block;
      white-space: nowrap;
      color: #CCCCCC; /* グレーカラー 自由に設定化 */
  }
  .star5_rating:before, .star5_rating:after{
      content: '★★★★★';
  }
  .star5_rating:after{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      overflow: hidden;
      white-space: nowrap;
      color: #ffcf32; /* イエローカラー 自由に設定化 */
  }
  .star5_rating[data-rate="5.0"]:after{ width: 100%; } /* 星5 */
  .star5_rating[data-rate="4.9"]:after{ width: 98%; } /* 星4.9 */
  .star5_rating[data-rate="4.8"]:after{ width: 96%; } /* 星4.8 */
  .star5_rating[data-rate="4.7"]:after{ width: 94%; } /* 星4.7 */
  .star5_rating[data-rate="4.6"]:after{ width: 92%; } /* 星4.6 */
  .star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
  .star5_rating[data-rate="4.4"]:after{ width: 88%; } /* 星4.4 */
  .star5_rating[data-rate="4.3"]:after{ width: 86%; } /* 星4.3 */
  .star5_rating[data-rate="4.2"]:after{ width: 84%; } /* 星4.2 */
  .star5_rating[data-rate="4.1"]:after{ width: 82%; } /* 星4.1 */
  .star5_rating[data-rate="4.0"]:after{ width: 80%; } /* 星4.0 */
  .star5_rating[data-rate="3.9"]:after{ width: 78%; } /* 星3.9 */
  .star5_rating[data-rate="3.8"]:after{ width: 76%; } /* 星3.8 */
  .star5_rating[data-rate="3.7"]:after{ width: 74%; } /* 星3.7 */
  .star5_rating[data-rate="3.6"]:after{ width: 72%; } /* 星3.6 */
  .star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
  .star5_rating[data-rate="3.4"]:after{ width: 68%; } /* 星3.4 */
  .star5_rating[data-rate="3.3"]:after{ width: 66%; } /* 星3.3 */
  .star5_rating[data-rate="3.2"]:after{ width: 64%; } /* 星3.2 */
  .star5_rating[data-rate="3.1"]:after{ width: 62%; } /* 星3.1 */
  .star5_rating[data-rate="3.0"]:after{ width: 60%; } /* 星3.0 */
  .star5_rating[data-rate="2.9"]:after{ width: 58%; } /* 星2.9 */
  .star5_rating[data-rate="2.8"]:after{ width: 56%; } /* 星2.8 */
  .star5_rating[data-rate="2.7"]:after{ width: 54%; } /* 星2.7 */
  .star5_rating[data-rate="2.6"]:after{ width: 52%; } /* 星2.6 */
  .star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
  .star5_rating[data-rate="2.4"]:after{ width: 48%; } /* 星2.4 */
  .star5_rating[data-rate="2.3"]:after{ width: 46%; } /* 星2.3 */
  .star5_rating[data-rate="2.2"]:after{ width: 44%; } /* 星2.2 */
  .star5_rating[data-rate="2.1"]:after{ width: 42%; } /* 星2.1 */
  .star5_rating[data-rate="2.0"]:after{ width: 40%; } /* 星2 */
  .star5_rating[data-rate="1.9"]:after{ width: 38%; } /* 星1.9 */
  .star5_rating[data-rate="1.8"]:after{ width: 36%; } /* 星1.8 */
  .star5_rating[data-rate="1.7"]:after{ width: 34%; } /* 星1.7 */
  .star5_rating[data-rate="1.6"]:after{ width: 32%; } /* 星1.6 */
  .star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
  .star5_rating[data-rate="1.4"]:after{ width: 28%; } /* 星1.4 */
  .star5_rating[data-rate="1.3"]:after{ width: 26%; } /* 星1.3 */
  .star5_rating[data-rate="1.2"]:after{ width: 24%; } /* 星1.2 */
  .star5_rating[data-rate="1.1"]:after{ width: 22%; } /* 星1.1 */
  .star5_rating[data-rate="1.0"]:after{ width: 20%; } /* 星1 */
  .star5_rating[data-rate="0.9"]:after{ width: 18%; } /* 星0.9 */
  .star5_rating[data-rate="0.8"]:after{ width: 16%; } /* 星0.8 */
  .star5_rating[data-rate="0.7"]:after{ width: 14%; } /* 星0.7 */
  .star5_rating[data-rate="0.6"]:after{ width: 12%; } /* 星0.6 */
  .star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
  .star5_rating[data-rate="0.4"]:after{ width: 8%; } /* 星0.4 */
  .star5_rating[data-rate="0.3"]:after{ width: 6%; } /* 星0.3 */
  .star5_rating[data-rate="0.2"]:after{ width: 4%; } /* 星0.2 */
  .star5_rating[data-rate="0.1"]:after{ width: 2%; } /* 星0.1 */
  .star5_rating[data-rate="0.0"]:after{ width: 0%; } /* 星0 */
  .star-category{
    padding-left:10px;
    padding-top: 1%;
    color:gray;
  }
  .hospital-name-bg {
  box-sizing: border-box;
  height: 45px;
  margin: 5px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 300px;
  }
  .hospital-name-bg::before,.hospital-name-bg::after {
  border-color: #73c01a;
  border-style: solid;
  bottom: -5px;
  content: '';
  position: absolute;
  width: 0;
  z-index: -2;
  }
  .hospital-name-bg::before {
  border-left-color: transparent;
  border-width: 20px 15px 20px 15px;
  left: -20px;
  }
  .hospital-name-bg::after {
  border-right-color: transparent;
  border-width: 20px 15px 20px 15px;
  right: -20px;
  }
  .name {
  font-size: 16px;
  font-weight: bold;
  }
  .name {
  background: #8dce41;
  color: #fff;
  padding: 6px 10px;
  position: relative;
  }
  .name::before,.name::after {
  border: none;
  border-bottom: solid 5px transparent;
  content: '';
  position: absolute;
  top: 100%;
  }
  .name::before {
  left: 0;
  border-right: solid 10px #478400;
  }
  .name::after {
  right: 0;
  border-left: solid 10px #478400;
  }
  .hospital-wrap a:link { color: gray; }
  .hospital-wrap a:visited { color: gray; }
  .hospital-wrap a:hover { color: gray; }
  .hospital-wrap a:active { color: gray; }
  .major-tag{
    display: inline-block;
    background-color: #EEEEEE	;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #EEEEEE;
    margin: 2.5px;
  }
  .major-category{
    margin-top: 10px;
    text-align: center;
  }
  .count-category{
    margin-top: 10px;
    float: right;
    padding-right: 100px;
    color: gray;
    font-weight: bold;
  }
  .major-tag:hover{
    border: 1px solid black;
    background-color: white;
  }
  .hospital-name-bg:hover{
    text-shadow:0 5px 5px black;
  }
  .pref-category{
    text-align: center;
    color: gray;
  }
  .pref-category a:hover{
    font-weight: bold;
  }
  .no-content-wrap{
    padding-top: 20%;
    margin-right: auto;
    margin-left: auto;
  }
  .no-content-box{
      padding: 0.5em 1em;
      margin: 1em 0;
      background: #f4f4f4;
      border-left: solid 6px rgb(106,191,176);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
      width: 95%;
      font-weight: bold;
  }
  .no-content-box p {
      margin: 0;
      padding: 0;
  }
  .button {
    position: relative;
    background-color: #1abc9c;
    border-radius: 4px;
    color: #fff;
    line-height: 52px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    font-weight: bold;
  }
  .button:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
  }
  .button:active {
    top: 3px;
    box-shadow: none;
  }
  .paginator ul{
    list-style: none;
  }
  .paginator{
    float: left;
    width: 75%;
    /*padding: 0.2em 0.5em;
    margin: 2em 0;*/
  }
  .recommend-text{
    text-align: center;
  }


}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  .main-content{
    padding-top: 10px;
    padding-right: 2%;
    padding-left: 2%;
  }
  .side-wrap{
    display: none;
  }
  .side-wrap2{
    margin-top: 1300px;
    margin-right: 15%;
    margin-left: 15%;
  }
  .recommend{
    width : 100% ;
    border-radius: 5px;
    margin:auto;
    color: black;
    height:100%;
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px rgb(106,191,176,0.7);
    border-radius: 3px 0 3px 0;
    margin-top:6em;
  }
  .midashi {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
    float: left;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  .midashi:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }
  .hospital-wrap{
    float: left;
    width: 90%;
    padding: 0.2em 0.5em;
    margin: 1em 0;
    background: rgb(106,191,176,0.4);
    box-shadow: 0px 0px 0px 10px rgb(106,191,176,0.4);
    border: dashed 2px white;
    margin-left: 5%;
    margin-right: 5%;
  }

  .advertise{
    width : 100% ;
    padding-top : 100% ;
    background-color: green;
    margin:auto;
    color: black;
    margin-bottom: 100px;
  }
  #if-none{
    height: 800px;
  }

  .hospital-content{
    width : 100%;
    height: 150px;
    margin: 0;
    padding: 0;
  }

  .recommend:before,.recommend:after{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px rgb(106,191,176,0.7);
    border-radius: 50%;
  }
  .recommend:after {
    top:-12px;
    left:-12px;
  }
  .recommend:before {
    bottom:-12px;
    right:-12px;
  }
  .recommend-box{
    border:2px solid rgb(106,191,176);
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    margin-top:10px;
    text-align: center;
  }
  .recommend-box:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.45);
  }
  .rcd-hospital-name,.rcd-place{
    display: inline-block;
  }
  .rcd-hospital-name{
    font-size: 18px;
    margin-left: 10px;
  }
  .rcd-place{
    margin-left: 10px;
    font-size: 16px;
  }
  .rcd-count{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
  }
  .recommend a:link { color: gray; }
  .recommend a:visited { color: gray; }
  .recommend a:hover { color: gray; }
  .recommend a:active { color: gray; }


  .star5_rating{
      position: relative;
      z-index: 0;
      display: inline-block;
      white-space: nowrap;
      color: #CCCCCC; /* グレーカラー 自由に設定化 */
  }
  .star5_rating:before, .star5_rating:after{
      content: '★★★★★';
  }
  .star5_rating:after{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      overflow: hidden;
      white-space: nowrap;
      color: #ffcf32; /* イエローカラー 自由に設定化 */
  }
  .star5_rating[data-rate="5.0"]:after{ width: 100%; } /* 星5 */
  .star5_rating[data-rate="4.9"]:after{ width: 98%; } /* 星4.9 */
  .star5_rating[data-rate="4.8"]:after{ width: 96%; } /* 星4.8 */
  .star5_rating[data-rate="4.7"]:after{ width: 94%; } /* 星4.7 */
  .star5_rating[data-rate="4.6"]:after{ width: 92%; } /* 星4.6 */
  .star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
  .star5_rating[data-rate="4.4"]:after{ width: 88%; } /* 星4.4 */
  .star5_rating[data-rate="4.3"]:after{ width: 86%; } /* 星4.3 */
  .star5_rating[data-rate="4.2"]:after{ width: 84%; } /* 星4.2 */
  .star5_rating[data-rate="4.1"]:after{ width: 82%; } /* 星4.1 */
  .star5_rating[data-rate="4.0"]:after{ width: 80%; } /* 星4.0 */
  .star5_rating[data-rate="3.9"]:after{ width: 78%; } /* 星3.9 */
  .star5_rating[data-rate="3.8"]:after{ width: 76%; } /* 星3.8 */
  .star5_rating[data-rate="3.7"]:after{ width: 74%; } /* 星3.7 */
  .star5_rating[data-rate="3.6"]:after{ width: 72%; } /* 星3.6 */
  .star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
  .star5_rating[data-rate="3.4"]:after{ width: 68%; } /* 星3.4 */
  .star5_rating[data-rate="3.3"]:after{ width: 66%; } /* 星3.3 */
  .star5_rating[data-rate="3.2"]:after{ width: 64%; } /* 星3.2 */
  .star5_rating[data-rate="3.1"]:after{ width: 62%; } /* 星3.1 */
  .star5_rating[data-rate="3.0"]:after{ width: 60%; } /* 星3.0 */
  .star5_rating[data-rate="2.9"]:after{ width: 58%; } /* 星2.9 */
  .star5_rating[data-rate="2.8"]:after{ width: 56%; } /* 星2.8 */
  .star5_rating[data-rate="2.7"]:after{ width: 54%; } /* 星2.7 */
  .star5_rating[data-rate="2.6"]:after{ width: 52%; } /* 星2.6 */
  .star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
  .star5_rating[data-rate="2.4"]:after{ width: 48%; } /* 星2.4 */
  .star5_rating[data-rate="2.3"]:after{ width: 46%; } /* 星2.3 */
  .star5_rating[data-rate="2.2"]:after{ width: 44%; } /* 星2.2 */
  .star5_rating[data-rate="2.1"]:after{ width: 42%; } /* 星2.1 */
  .star5_rating[data-rate="2.0"]:after{ width: 40%; } /* 星2 */
  .star5_rating[data-rate="1.9"]:after{ width: 38%; } /* 星1.9 */
  .star5_rating[data-rate="1.8"]:after{ width: 36%; } /* 星1.8 */
  .star5_rating[data-rate="1.7"]:after{ width: 34%; } /* 星1.7 */
  .star5_rating[data-rate="1.6"]:after{ width: 32%; } /* 星1.6 */
  .star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
  .star5_rating[data-rate="1.4"]:after{ width: 28%; } /* 星1.4 */
  .star5_rating[data-rate="1.3"]:after{ width: 26%; } /* 星1.3 */
  .star5_rating[data-rate="1.2"]:after{ width: 24%; } /* 星1.2 */
  .star5_rating[data-rate="1.1"]:after{ width: 22%; } /* 星1.1 */
  .star5_rating[data-rate="1.0"]:after{ width: 20%; } /* 星1 */
  .star5_rating[data-rate="0.9"]:after{ width: 18%; } /* 星0.9 */
  .star5_rating[data-rate="0.8"]:after{ width: 16%; } /* 星0.8 */
  .star5_rating[data-rate="0.7"]:after{ width: 14%; } /* 星0.7 */
  .star5_rating[data-rate="0.6"]:after{ width: 12%; } /* 星0.6 */
  .star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
  .star5_rating[data-rate="0.4"]:after{ width: 8%; } /* 星0.4 */
  .star5_rating[data-rate="0.3"]:after{ width: 6%; } /* 星0.3 */
  .star5_rating[data-rate="0.2"]:after{ width: 4%; } /* 星0.2 */
  .star5_rating[data-rate="0.1"]:after{ width: 2%; } /* 星0.1 */
  .star5_rating[data-rate="0.0"]:after{ width: 0%; } /* 星0 */
  .star-category{
    padding-left:10px;
    padding-top: 1%;
    color:gray;
  }
  .hospital-name-bg {
  box-sizing: border-box;
  height: 45px;
  margin: 5px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 300px;
  }
  .hospital-name-bg::before,.hospital-name-bg::after {
  border-color: #73c01a;
  border-style: solid;
  bottom: -5px;
  content: '';
  position: absolute;
  width: 0;
  z-index: -2;
  }
  .hospital-name-bg::before {
  border-left-color: transparent;
  border-width: 20px 15px 20px 15px;
  left: -20px;
  }
  .hospital-name-bg::after {
  border-right-color: transparent;
  border-width: 20px 15px 20px 15px;
  right: -20px;
  }
  .name {
  font-size: 16px;
  font-weight: bold;
  }
  .name {
  background: #8dce41;
  color: #fff;
  padding: 6px 10px;
  position: relative;
  }
  .name::before,.name::after {
  border: none;
  border-bottom: solid 5px transparent;
  content: '';
  position: absolute;
  top: 100%;
  }
  .name::before {
  left: 0;
  border-right: solid 10px #478400;
  }
  .name::after {
  right: 0;
  border-left: solid 10px #478400;
  }
  .hospital-wrap a:link { color: gray; }
  .hospital-wrap a:visited { color: gray; }
  .hospital-wrap a:hover { color: gray; }
  .hospital-wrap a:active { color: gray; }
  .major-tag{
    display: inline-block;
    background-color: #EEEEEE	;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #EEEEEE;
    margin: 2.5px;
  }
  .major-category{
    margin-top: 10px;
    text-align: center;
  }
  .count-category{
    margin-top: 10px;
    float: right;
    padding-right: 100px;
    color: gray;
    font-weight: bold;
  }
  .major-tag:hover{
    border: 1px solid black;
    background-color: white;
  }
  .hospital-name-bg:hover{
    text-shadow:0 5px 5px black;
  }
  .pref-category{
    text-align: center;
    color: gray;
  }
  .pref-category a:hover{
    font-weight: bold;
  }
  .no-content-wrap{
    padding-top: 10%;
  }
  .no-content-box{
      padding: 0.5em 1em;
      margin: 1em 0;
      background: #f4f4f4;
      border-left: solid 6px rgb(106,191,176);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
      width: 50%;
      font-weight: bold;
  }
  .no-content-box p {
      margin: 0;
      padding: 0;
  }
  .button {
    position: relative;
    background-color: #1abc9c;
    border-radius: 4px;
    color: #fff;
    line-height: 52px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    font-weight: bold;
  }
  .button:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
  }
  .button:active {
    top: 3px;
    box-shadow: none;
  }
  .paginator ul{
    list-style: none;
  }
  .paginator{
    float: left;
    width: 75%;
    /*padding: 0.2em 0.5em;
    margin: 2em 0;*/
  }
  .recommend-text{
    text-align: center;
    font-size: 18px;
  }


}
/*PC*/
@media screen and (min-width:960px){
  .side-wrap2{
    display: none;
  }
  .main-content{
    padding-top: 1vw;
    padding-left: 22vw;
    padding-right: 15vw;
  }
  .side-wrap{
    width: 17vw;
    float: right;
    margin-left: 10px;
  }
  .recommend{
    width : 100% ;
    border-radius: 5px;
    margin:auto;
    color: black;
    height:100%;
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px rgb(106,191,176,0.7);
    border-radius: 3px 0 3px 0;
    margin-top:6em;
  }
  .midashi {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
    float: left;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
  }
  .midashi:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }
  .hospital-wrap-g{
    margin-top: 100px;
  }

  .hospital-wrap{
    float: left;
    width: 70%;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: rgb(106,191,176,0.4);
    box-shadow: 0px 0px 0px 10px rgb(106,191,176,0.4);
    border: dashed 2px white;
  }

  .advertise{
    width : 100% ;
    padding-top : 100% ;
    background-color: green;
    margin:auto;
    color: black;
    margin-bottom: 100px;
  }
  #if-none{
    height: 800px;
  }

  .hospital-content{
    width : 100%;
    height: 150px;
    margin: 0;
    padding: 0;
  }

  .recommend:before,.recommend:after{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px rgb(106,191,176,0.7);
    border-radius: 50%;
  }
  .recommend:after {
    top:-12px;
    left:-12px;
  }
  .recommend:before {
    bottom:-12px;
    right:-12px;
  }
  .recommend-box{
    border:2px solid rgb(106,191,176);
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    margin-top:10px;
  }
  .recommend-box:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.45);
  }
  .rcd-hospital-name,.rcd-place{
    display: inline-block;
  }
  .rcd-hospital-name{
    font-size: 18px;
    margin-left: 10px;
  }
  .rcd-place{
    margin-left: 10px;
    font-size: 16px;
  }
  .rcd-count{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
  }
  .recommend a:link { color: gray; }
  .recommend a:visited { color: gray; }
  .recommend a:hover { color: gray; }
  .recommend a:active { color: gray; }


  .star5_rating{
      position: relative;
      z-index: 0;
      display: inline-block;
      white-space: nowrap;
      color: #CCCCCC; /* グレーカラー 自由に設定化 */
  }
  .star5_rating:before, .star5_rating:after{
      content: '★★★★★';
  }
  .star5_rating:after{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      overflow: hidden;
      white-space: nowrap;
      color: #ffcf32; /* イエローカラー 自由に設定化 */
  }
  .star5_rating[data-rate="5.0"]:after{ width: 100%; } /* 星5 */
  .star5_rating[data-rate="4.9"]:after{ width: 98%; } /* 星4.9 */
  .star5_rating[data-rate="4.8"]:after{ width: 96%; } /* 星4.8 */
  .star5_rating[data-rate="4.7"]:after{ width: 94%; } /* 星4.7 */
  .star5_rating[data-rate="4.6"]:after{ width: 92%; } /* 星4.6 */
  .star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
  .star5_rating[data-rate="4.4"]:after{ width: 88%; } /* 星4.4 */
  .star5_rating[data-rate="4.3"]:after{ width: 86%; } /* 星4.3 */
  .star5_rating[data-rate="4.2"]:after{ width: 84%; } /* 星4.2 */
  .star5_rating[data-rate="4.1"]:after{ width: 82%; } /* 星4.1 */
  .star5_rating[data-rate="4.0"]:after{ width: 80%; } /* 星4.0 */
  .star5_rating[data-rate="3.9"]:after{ width: 78%; } /* 星3.9 */
  .star5_rating[data-rate="3.8"]:after{ width: 76%; } /* 星3.8 */
  .star5_rating[data-rate="3.7"]:after{ width: 74%; } /* 星3.7 */
  .star5_rating[data-rate="3.6"]:after{ width: 72%; } /* 星3.6 */
  .star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
  .star5_rating[data-rate="3.4"]:after{ width: 68%; } /* 星3.4 */
  .star5_rating[data-rate="3.3"]:after{ width: 66%; } /* 星3.3 */
  .star5_rating[data-rate="3.2"]:after{ width: 64%; } /* 星3.2 */
  .star5_rating[data-rate="3.1"]:after{ width: 62%; } /* 星3.1 */
  .star5_rating[data-rate="3.0"]:after{ width: 60%; } /* 星3.0 */
  .star5_rating[data-rate="2.9"]:after{ width: 58%; } /* 星2.9 */
  .star5_rating[data-rate="2.8"]:after{ width: 56%; } /* 星2.8 */
  .star5_rating[data-rate="2.7"]:after{ width: 54%; } /* 星2.7 */
  .star5_rating[data-rate="2.6"]:after{ width: 52%; } /* 星2.6 */
  .star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
  .star5_rating[data-rate="2.4"]:after{ width: 48%; } /* 星2.4 */
  .star5_rating[data-rate="2.3"]:after{ width: 46%; } /* 星2.3 */
  .star5_rating[data-rate="2.2"]:after{ width: 44%; } /* 星2.2 */
  .star5_rating[data-rate="2.1"]:after{ width: 42%; } /* 星2.1 */
  .star5_rating[data-rate="2.0"]:after{ width: 40%; } /* 星2 */
  .star5_rating[data-rate="1.9"]:after{ width: 38%; } /* 星1.9 */
  .star5_rating[data-rate="1.8"]:after{ width: 36%; } /* 星1.8 */
  .star5_rating[data-rate="1.7"]:after{ width: 34%; } /* 星1.7 */
  .star5_rating[data-rate="1.6"]:after{ width: 32%; } /* 星1.6 */
  .star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
  .star5_rating[data-rate="1.4"]:after{ width: 28%; } /* 星1.4 */
  .star5_rating[data-rate="1.3"]:after{ width: 26%; } /* 星1.3 */
  .star5_rating[data-rate="1.2"]:after{ width: 24%; } /* 星1.2 */
  .star5_rating[data-rate="1.1"]:after{ width: 22%; } /* 星1.1 */
  .star5_rating[data-rate="1.0"]:after{ width: 20%; } /* 星1 */
  .star5_rating[data-rate="0.9"]:after{ width: 18%; } /* 星0.9 */
  .star5_rating[data-rate="0.8"]:after{ width: 16%; } /* 星0.8 */
  .star5_rating[data-rate="0.7"]:after{ width: 14%; } /* 星0.7 */
  .star5_rating[data-rate="0.6"]:after{ width: 12%; } /* 星0.6 */
  .star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
  .star5_rating[data-rate="0.4"]:after{ width: 8%; } /* 星0.4 */
  .star5_rating[data-rate="0.3"]:after{ width: 6%; } /* 星0.3 */
  .star5_rating[data-rate="0.2"]:after{ width: 4%; } /* 星0.2 */
  .star5_rating[data-rate="0.1"]:after{ width: 2%; } /* 星0.1 */
  .star5_rating[data-rate="0.0"]:after{ width: 0%; } /* 星0 */
  .star-category{
    padding-left:10px;
    padding-top: 1%;
    color:gray;
  }
  .hospital-name-bg {
  box-sizing: border-box;
  height: 45px;
  margin: 5px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 300px;
  }
  .hospital-name-bg::before,.hospital-name-bg::after {
  border-color: #73c01a;
  border-style: solid;
  bottom: -10px;
  content: '';
  position: absolute;
  width: 0;
  z-index: -2;
  }
  .hospital-name-bg::before {
  border-left-color: transparent;
  border-width: 20px 15px 20px 15px;
  left: -20px;
  }
  .hospital-name-bg::after {
  border-right-color: transparent;
  border-width: 20px 15px 20px 15px;
  right: -20px;
  }
  .name {
  font-size: 18px;
  font-weight: bold;
  }
  .name {
  background: #8dce41;
  color: #fff;
  padding: 6px 10px;
  position: relative;
  }
  .name::before,.name::after {
  border: none;
  border-bottom: solid 10px transparent;
  content: '';
  position: absolute;
  top: 100%;
  }
  .name::before {
  left: 0;
  border-right: solid 10px #478400;
  }
  .name::after {
  right: 0;
  border-left: solid 10px #478400;
  }
  .hospital-wrap a:link { color: gray; }
  .hospital-wrap a:visited { color: gray; }
  .hospital-wrap a:hover { color: gray; }
  .hospital-wrap a:active { color: gray; }
  .major-tag{
    display: inline-block;
    background-color: #EEEEEE	;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #EEEEEE;
  }
  .major-category{
    margin-top: 10px;
    text-align: center;
  }
  .count-category{
    float: right;
    margin-top: 10px;
    padding-right: 100px;
    color: gray;
    font-weight: bold;
  }
  .major-tag:hover{
    border: 1px solid black;
    background-color: white;
  }
  .hospital-name-bg:hover{
    text-shadow:0 5px 5px black;
  }
  .pref-category{
    text-align: center;
    color: gray;
  }
  .pref-category a:hover{
    font-weight: bold;
  }
  .no-content-wrap{
    padding-top: 10%;
  }
  .no-content-box{
      padding: 0.5em 1em;
      margin: 1em 0;
      background: #f4f4f4;
      border-left: solid 6px rgb(106,191,176);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
      width: 50%;
      font-weight: bold;
  }
  .no-content-box p {
      margin: 0;
      padding: 0;
  }
  .button {
    position: relative;
    background-color: #1abc9c;
    border-radius: 4px;
    color: #fff;
    line-height: 52px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    font-weight: bold;
  }
  .button:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
  }
  .button:active {
    top: 3px;
    box-shadow: none;
  }
  .paginator ul{
    list-style: none;
  }
  .paginator{
    float: left;
    width: 75%;
    padding: 0.2em 0.5em;
    margin: 2em 0;
  }
  .recommend-text{
    text-align: center;
  }

}
