/*SmartPhone*/
@media screen and (max-width:560px){
  .hospital-name{
    font-size: 1.1rem;
  }
}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  .hospital-name{
    font-size: 1.1rem;
  }
}
/*PC*/
@media screen and (min-width:960px){
  .hospital-name{
    font-size: 1.15rem;
  }
  .date{
    text-decoration: underline;
  }
}
/* Common Setting */
.my-comment{
  padding: 10px;
  margin-bottom: 10px;
}
.hospital-name,.date{
  display: inline-block;
}
.top-line{
  margin-bottom: 10px;
}
.Odd{
  border: 2px solid rgb(106,191,176,0.7);
}
.Even{
  border: 2px solid rgb(218,165,32,0.7);
}
h2{
  font-size: 1rem !important;
}
