/*SmartPhone*/
@media screen and (max-width:560px){
  .main-content{
    padding-top: 1rem;
    padding-left: 1rem;
    /*height: auto;
    margin: 0 auto;
    background-color: white;*/
  }
}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  .main-content{
    max-width: 780px;
    /*height: auto;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12),0 2px 3px 0 rgba(0,0,0,.22);
    padding: 1rem;
    margin-top: 1rem;*/
  }

}
/*PC*/
@media screen and (min-width:960px){
  .main-content{
    max-width: 1280px;
    /*margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12),0 2px 3px 0 rgba(0,0,0,.22);
    border-radius: 5%;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-top: 50px;*/
  }
}
