/*SmartPhone*/
@media screen and (max-width:560px){
  .main-content{
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .input{
    padding-right: 100px;
  }
  main {
    width: 730px;
  }
  .right-bar {
    width: 90%;
    background-color: rgb(245,245,245);
    margin-left: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  .main-content{
    max-width: 780px;
    margin: 0 auto;
    padding: 1rem;
    height: auto;
  }
  .input{
    width: 400px;
  }
  main {
    width: 440px;
  }
}
/*PC*/
@media screen and (min-width:960px){
  .main-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    height: auto;
  }
  .input{
    width: 400px;
  }
  .button{
    margin-left: 100px;
  }
  .form-group{
    margin-left: 100px;
    margin-top: 30px;
  }
  main {
    width: 730px;
  }
}
/* Common Setting */
.button:hover{
  background-color: white !important ;
  border-color: rgb(106,191,176) !important;
  color : rgb(106,191,176) !important;
}
.button{
  background-color: rgb(106,191,176) !important ;
}
.new-member{
  float: right;
}
.forget-password{
  clear:right;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1080px;
  padding-right: 1rem;
}
.right-bar {
  width: 250px;
  background-color: rgb(245,245,245);
  margin-left: 30px;
  padding-bottom: 10px;
}
.side-content{
  background-color: white;
}
.right-bar ul{
  list-style: none;
}
.right-bar li{
  background-color: white;
  color:rgb(106,191,176);
  padding: 3px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-right: 10px;
  padding-left: 25px;
  margin-left: -10px;
}
.right-bar li a{
  color:rgb(106,191,176);
}
.right-bar li a:hover{
  color: rgb(239,182,117) !important;
}
.now{
  border-left: 5px solid rgb(106,191,176);
}
.else{
  padding-left: 30px !important;
}
.right-bar i{
  margin-right: 7.5px;
}
h1{
  font-size: 1.5rem !important;
}
.new-member:hover a,.forget-password:hover a{
  color: rgb(239,182,117) !important;
}
ul {
  list-style: none !important;
  color:red;
}
