{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/accounts/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/password_change.css' %}">
{% endblock %}
{% block title %}パスワード変更{% endblock %}
{% block meta_description %}
<meta name="description" content="ユーザーネームの変更やEmailアドレスの変更を承りました！アドレスやユーザーネームにお間違いないか確認してみてくださいね！">
{% endblock %}

{% block mypage_content %}
  {% if type == "username" %}
  <h1>ユーザーネームを変更しました</h1><br>
  {% elif type == "email" %}
    <h1>Emailアドレスを変更しました</h1><br>
  {% endif %}
  <a class="btn btn-primary btn-lg" href="{% url 'accounts:create' %}">ホームに戻る</a>
{% endblock %}
