{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/accounts/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/password_change.css' %}">
{% endblock %}
{% block title %}パスワード変更{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block mypage_content %}
  <h1>ユーザーネームを変更しました</h1><br>
  <a class="btn btn-primary btn-lg" href="{% url 'accounts:create' %}">ホームに戻る</a>
{% endblock %}
