{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/accounts/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/account_info.css' %}">
{% endblock %}
{% block title %}アカウント設定{% endblock %}
{% block meta_description %}
<meta name="description" content="ユーザーネームやEメールアドレスの変更を行いたい場合はこちらから！間違えずに打ってくださいね！">
{% endblock %}

{% block mypage_content %}
<h1>アカウント設定</h1>
<h2 class="label">ユーザーネームの変更</h2>
<form method="POST">
    {% csrf_token %}
  <div class="form-group">
    <p class="now-username">現在のユーザーネーム：<b>{{ user }}</b></p>
    <div class="field">
      <p class="control has-icons-left">
        {% render_field usernameform.username class="input" type="text" placeholder="新しいユーザーネーム" %}
        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
        {{ form.username.errors }}
      </p>
    </div>
    <div class="field">
      <p class="control"><button class="button is-success" type="submit">送信</button></p>
    </div>
  </div>
</form>
<h2 class="label">Emailの変更</h2>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
          {% render_field emailform.email class="input" type="text" placeholder="新しいEmailアドレス" %}
          <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
          {{ emailform.email.errors }}
        </p>
      </div>

    <div class="field">
      <p class="control"><button class="button is-success" type="submit">送信</button></p>
    </div>
  </div>
</form>
{% endblock %}
