{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/accounts/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/exit.css' %}">
{% endblock %}
{% block title %}退会手続き{% endblock %}
{% block meta_description %}
<meta name="description" content="アカウントを削除します。本当によろしいでしょうか？慎重にクリックしてくださいね！">
{% endblock %}

{% block mypage_content %}
<h1>退会の手続き</h1>
<form role="form" method="post">
  {% csrf_token %}
  <p>あなたのアカウント「<b>{{ user.username }}</b>」を、本当に削除してもよろしいですか？</p>
  <button class="button is-success" type="submit" >削除</button>
  <a href="/accounts/mypage/" class="button is-text">キャンセル</a>
</form>
{% endblock %}
