{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'css/accounts/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/password_change.css' %}">
{% endblock %}
{% block title %}パスワード変更{% endblock %}
{% block meta_description %}
<meta name="description" content="パスワードを変更しました！一度ログアウトを行い、再度ログインを行なってパスワードの打ち間違いがないか確認されることを推奨致します！">
{% endblock %}

{% block mypage_content %}
  <h1>パスワードを変更しました</h1><br>
  <a class="btn btn-primary btn-lg" href="{% url 'main_app:home' %}">ホームに戻る</a>
{% endblock %}
