{% extends 'accounts/mypage_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}

<link rel="stylesheet" href="{% static 'css/accounts/password_change.css' %}">
{% endblock %}
{% block title %}ログイン{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block mypage_content %}
<h1>パスワードを変更する</h1>
<form method="POST">
  {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ form.label_tag }}</label>
        <div class="field">
          <p class="control has-icons-left">
            {% render_field form.old_password class="input" type="password" placeholder="古いパスワード" %}
            <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
            {{ form.old_password.errors }}
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            {% render_field form.new_password1 class="input" type="password" placeholder="新しいパスワード" %}
            <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
            {{ form.new_password1.errors }}
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            {% render_field form.new_password2 class="input" type="password" placeholder="新しいパスワード（確認）" %}
            <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
            {{ form.new_password2.errors }}
          </p>
        </div>
    </div>
    <br>
    <div class="field">
      <p class="control"><button class="button is-success" type="submit">送信</button></p>
    </div>
</form>
{% endblock %}
