{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/accounts/create.css' %}">{% endblock %}
{% block title %}新規登録{% endblock %}
{% block meta_description %}
<meta name="description" content="アカウントの登録が完了しました！ありがとうございます。今後ともぜひ当サイトを活用してくださいね！お困りごとがあればお問い合わせからご連絡ください！">
<meta http-equiv="refresh" content="2; url=/accounts/mypage/">
{% endblock %}

{% block content %}
<div class="main-content">
  <h1>登録が完了しました</h1>
</div>

{% endblock %}
