{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/media_service/content.css' %}">{% endblock %}
{% block title %}メディア{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@To_Hospee" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:title" content="HospeeBlog | 病院実習クチコミサイト" />
<meta property="og:description" content="HospeeBlogでは、医療系を専攻している学生に向けて入学から卒業まで有意義な情報を発信していきたいと考えています。" />
<meta property="og:image" content="https://hospeee.com/media/media/Hospee-blog-card.png"/>
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="wrap">
    <main>
      <p class="date"><i class="far fa-clock"></i>2021.03.25</p>
      <h1>副業で稼げない人必見！！今より稼ぐために絶対に知っておくべきコツ5選！</h1>

      <div class="card">
        <img src="{% static 'img/img1.jpg' %}" class="image">
      </div>

      <p><span style="color: #33cccc;"><strong>もふもふ不動産</strong></span>もふです。</p>
      <p><span data-rich-text-format-boundary="true">僕は<a href="https://www.youtube.com/channel/UCsWTZ4nYODCwlE8rdv7DZzA">YouTube</a>で</span><span data-rich-text-format-boundary="true">登録者数27万人を超える「もふもふ不動産」のチャンネルを運営しており、</span><a href="https://twitter.com/mofmof_investor">Twitter</a>の登録者数についても、7.5万人を超えています。</p>
      <p>さて、これからの時代、自分自身の力でお金を稼いでいくことが必要だと感じている方は大勢いらっしゃると思います。</p>
      <p>僕自身も、リーマンショックで会社が倒産しかけたことをきっかけに、自分でお金を稼がな <br>ければいけないと自覚しました。</p>
      <p>自分で稼ぎたいと思い、不動産投資や株式投資、ブログにYoutubeと様々なことを試してきましたが、成果が出始めたのはつい最近になってのことです。</p>
      <p>2008年から試行錯誤を繰り返してきたわけですが、副業でお金を稼ぐ場合に絶対にやっておかないといけないことがあることを皆さんはご存知でしょうか。</p>
      <p>僕はそのことを知らなかったので、ずっと遠回りをしてきました。</p>
      <p>しかし、これから副業を始める皆さんには、最短距離を駆け抜けて欲しいと思います。</p>
      <p>ちなみに、役立つ情報を発信してそこから収益を得ており、何か怪しい物を売って儲けている訳ではないですので、安心してくださいね。</p>
      <p>そういった僕の経験を踏まえ、集大成として絶対に知っておいて欲しいことを5つ、まとめてみました。</p>
      <h2><span id="i">目標を書き出す</span></h2>
      <div class="cbox intitle is-style-green_box type_normal"><div class="box_title"><span class="span__box_title">目標の具体例</span></div>
<ul>
<li>会社だけでなく自分の力で稼ぎたい</li>
<li>時間的に余裕が欲しい</li>
<li>月にこれくらい稼ぎたい</li></ul></div>
<p>上記のような目標を<span style="background-color: #ffc6d1;"><span style="font-size: 14pt;"><strong>書いて明確にすることが重要</strong></span></span>です。</p>
<p>そして、<span style="background-color: #ffc6d1;"><span style="font-size: 14pt;"><strong>なぜそれが欲しいのか</strong></span></span>も書き出してみましょう。</p>
<p>理由を書き出すことによって、その目標がより具体的になっていきます。</p>
<p>冒頭でも述べた通り、僕は2008年から副業で稼ぐことを目的に行動していた訳ですが、僕は中々書き出すことをしませんでした。</p>
<p>2005年くらいに、ワタミの社長が出版されている「夢に日付を！」も購入して読んだこともあったにも関わらず、です。</p>
<div class="cbox intitle is-style-green_box type_normal"><div class="box_title"><span class="span__box_title">あわせて読みたい</span></div>
<ul>
<li><a href="https://allabout.co.jp/gm/gc/291293/" target="_blank" rel="noopener noreferrer">ワタミ　渡邉美樹社長の手帳術とは（引用元：All About）</a></li></ul></div>
<p>周りの人からも「書いた方が良いよ」とは言われていたものの「書くだけで効果なんてないだろう」と考え、その重要性を軽視していたんですね。</p>
<p>ただ、実際に書き出して<span style="background-color: #ffc6d1;"><span style="font-size: 14pt;"><strong>潜在意識を変えることが目的</strong></span></span>なのです。</p>

<p>その結果として、<span style="background-color: #ffc6d1;"><span style="font-size: 14pt;"><strong>行動が変わってきます</strong></span></span>。</p>


    </main>

  <aside class="right-bar">
    <!-- 広告スペース -->
    <!--div class="aside-box aside-ads-box" style="width:310px;height:160px;border: 1px solid black;">
      <p>広告</p>
    </div-->

    <div class="aside-prof-box">
      <div class="aside-inside-box">
        <h2>プロフィール</h2>
        <p>当サイト・Hospee(ホスピ―)は、医療系専攻の学生のためのwebサービス・webメディアです<br/>
          当サイトの詳細は<a href="/hospee/about_us" target="_blank">こちら</a>からどうぞ<br/>
          医療系学生が入学～就業までの間に抱える悩みを解決するような記事をお届けします。</p>
      </div>
    </div>

    <div class="aside-prof-box-p2">
      <div class="aside-inside-box">
        <h2>カテゴリー</h2>
        <div class="cp_ipselect cp_sl01">
          <select required>
          	<option value="" hidden>カテゴリーを選択</option>
          	<option value="1">FXの解説（1）</option>
          	<option value="2">セミナー（3）</option>
          	<option value="3">不動産＆不動産投資（100）</option>
          	<option value="4">資産運用（49）</option>
          </select>
        </div>
      </div>
    </div>

    <div class="aside-prof-box">
      <div class="aside-inside-box">
        <h2>最近30日間の人気記事</h2>
        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">1</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">2</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">3</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">4</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">5</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">6</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">7</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">8</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">9</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">10</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- 関連コンテンツ -->
    <div class="aside-prof-box-p3">
      <div class="aside-inside-box">
        <h2>最新の記事</h2>
        <a href="#">
          <div class="card4">
            <div class="box4">
              <div>
                <p class="title4">
                  副業で稼げない人必見！！今より稼ぐために絶対に知っておくべきコツ5選！<br>
                  <i class="far fa-clock"></i>2021.03.25
                </p>
              </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card4">
            <div class="box4">
              <div>
                <p class="title4">
                  副業で稼げない人必見！！今より稼ぐために絶対に知っておくべきコツ5選！<br>
                  <i class="far fa-clock"></i>2021.03.25
                </p>
              </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card4">
            <div class="box4">
              <div>
                <p class="title4">
                  副業で稼げない人必見！！今より稼ぐために絶対に知っておくべきコツ5選！<br>
                  <i class="far fa-clock"></i>2021.03.25
                </p>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>

    <div class="aside-box aside-box-link">
      <!--a href="#" target="_blank">
        <div class="aside-inside-box related-content-wrap">
          <img alt="" src="./img/test-image2.png" />
          <p>
            JavaScriptの構文を問題としたタイピングゲームを作ってみました。
          </p>
        </div>
      </a-->
    </div>

    <div class="aside-box aside-box-link">
      <!--a href="#" target="_blank">
        <div class="aside-inside-box related-content-wrap">
          <img alt="" src="./img/test-image2.png" />
          <p>
            JavaScriptの構文を問題としたタイピングゲームを作ってみました。
          </p>
        </div>
      </a-->
    </div>

    <!-- 広告スペース -->
    <!--div class="aside-box aside-ads-box" style="width:310px;height:75px;border: 1px solid black;">
      <p>広告</p>
    </div-->
  </aside>
</div>


</div>
{% endblock %}
