{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/media_service/content.css' %}">{% endblock %}
{% block title %}メディア{% endblock %}
{% block meta_description %}
<meta name="description" content="{{ post.discription }}">
{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@To_Hospee" />
<meta property="og:url" content="https://hospeee.com/media/{{ post.image }}" />
<meta property="og:title" content="HospeeBlog | 病院実習クチコミサイト" />
<meta property="og:description" content="{{ post.discription }}" />
<meta property="og:image" content="https://hospeee.com/media/{{ post.image }}"/>
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="wrap">
    <main>
      <p class="date"><i class="far fa-clock"></i>{{ post.date }}</p>
      <h1>{{ post.title }}</h1>
      <div class="card">
        <img src="/media/{{ post.image }}" class="image">
      </div>
      <ul class="shareList">
        <li class="shareList__item">
          <a class="shareList__link icon-twitter" href="https://twitter.com/share?url=https://hospeee.com{{ request.get_full_path }}&via=To_Hospee&text={{ post.title }}" rel="nofollow" target="_blank" title="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="shareList__item">
          <a class="shareList__link icon-facebook" href="http://www.facebook.com/share.php?u=https://hospeee.com{{ request.get_full_path }}" rel="nofollow" target="_blank" title="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="shareList__item">
          <a class="shareList__link icon-line" href="http://line.me/R/msg/text/?https://hospeee.com{{ request.get_full_path }}" target="_blank" title="Line">
            <i class="fab fa-line"></i>
          </a>
        </li>
      </ul>
      <div class="body-content">
        {{ post.body | safe }}
      </div>
    </main>

  <aside class="right-bar">
    <!-- 広告スペース -->
    <!--div class="aside-box aside-ads-box" style="width:310px;height:160px;border: 1px solid black;">
      <p>広告</p>
    </div-->

    <div class="aside-prof-box">
      <div class="aside-inside-box">
        <h3>プロフィール</h3>
        <p>当サイト・Hospee(ホスピ―)は、医療系専攻の学生のためのwebサービス・webメディアです<br/>
          当サイトの詳細は<a href="/hospee/about_us" target="_blank">こちら</a>からどうぞ<br/>
          医療系学生が入学～就業までの間に抱える悩みを解決するような記事をお届けします。</p>
      </div>
    </div>

    <div class="aside-prof-box-p2">
      <div class="aside-inside-box">
        <h3>カテゴリー</h3>
        <div class="cp_ipselect cp_sl01">
          <select required>
          	<option value="" hidden>カテゴリーを選択</option>
          	<option value="1">FXの解説（1）</option>
          	<option value="2">セミナー（3）</option>
          	<option value="3">不動産＆不動産投資（100）</option>
          	<option value="4">資産運用（49）</option>
          </select>
        </div>
      </div>
    </div>

    <div class="aside-prof-box">
      <div class="aside-inside-box">
        <h3>最近30日間の人気記事</h3>
	<a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">1</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">2</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">3</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">4</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">5</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">6</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">7</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">8</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">9</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="card3">
            <div class="box3">
              <img src="{% static 'img/img1.jpg' %}" class="image3">
                <div>
                  <p class="number">10</p>
                  <p class="title3">初心者におすすめの不動産投資の本5冊！不動産投資家が厳選！</p>
                </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- 関連コンテンツ -->
    <div class="aside-prof-box-p3">
      <div class="aside-inside-box">
        <h3>最新の記事</h3>
	{% for relate in relations  %}
	<a href="#">
          <div class="card4">
            <div class="box4">
              <div>
                <p class="title4">
                 {{ relate.title  }}<br>
		 <i class="far fa-clock"></i>{{ relate.date  }}
                </p>
              </div>
            </div>
          </div>
        </a>
	{% endfor  %}
      </div>
    </div>


    <div class="aside-box aside-box-link">
      <!--a href="#" target="_blank">
        <div class="aside-inside-box related-content-wrap">
          <img alt="" src="./img/test-image2.png" />
          <p>
            JavaScriptの構文を問題としたタイピングゲームを作ってみました。
          </p>
        </div>
      </a-->
    </div>

    <div class="aside-box aside-box-link">
      <!--a href="#" target="_blank">
        <div class="aside-inside-box related-content-wrap">
          <img alt="" src="./img/test-image2.png" />
          <p>
            JavaScriptの構文を問題としたタイピングゲームを作ってみました。
          </p>
        </div>
      </a-->
    </div>

    <!-- 広告スペース -->
    <!--div class="aside-box aside-ads-box" style="width:310px;height:75px;border: 1px solid black;">
      <p>広告</p>
    </div-->
  </aside>
</div>


</div>
{% endblock %}
