{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/media_service/main.css' %}">{% endblock %}
{% block title %}メディア{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@To_Hospee" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:title" content="HospeeBlog | 病院実習クチコミサイト" />
<meta property="og:description" content="HospeeBlogでは、医療系を専攻している学生に向けて入学から卒業まで有意義な情報を発信していきたいと考えています。" />
<meta property="og:image" content="https://hospeee.com/media/media/Hospee-blog-card.png"/>
{% endblock %}

{% block content %}
<div class="main-content">
  <div id="cardlayout-wrap">
    <section class="card-section">
      <h1 class="card-h1">New</h1>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">おすすめガジェット系YouTuber9選とYouTuberになるためのポイント5つを徹底解説</h2>
          <p class="date"><i class="far fa-clock"></i>2021.03.25</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">【2021年最新】YouTubeのアルゴリズムを徹底解説！関連動画も攻略可能</h2>
          <p class="date"><i class="far fa-clock"></i>2020.08.23</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">レディース・メンズ別おすすめファッション系YouTuber6選とYouTuberになるためのポイントを徹底解説</h2>
          <p class="date"><i class="far fa-clock"></i>2019.07.21</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">もふ社長の怖くてやさしい投資相談室が連載スタート！｜東京海上日動あんしん生命</h2>
          <p class="date"><i class="far fa-clock"></i>2021.03.09</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">リリース配信のお知らせ「Youtubeの学校」がスタートしました
            リリース配信のお知らせ「Youtubeの学校」がスタートしました
          リリース配信のお知ら</h2>
          <p class="date"><i class="far fa-clock"></i>2021.03.09</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">不動産投資の節税方法を不動産投資家が初心者にわかりやすく解説</h2>
          <p class="date"><i class="far fa-clock"></i>2021.03.09</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">レディース・メンズ別おすすめファッション系YouTuber6選とYouTuberになるためのポイントを徹底解説</h2>
          <p class="date"><i class="far fa-clock"></i>2021.03.09</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">もふ社長の怖くてやさしい投資相談室が連載スタート！｜東京海上日動あんしん生命</h2>
          <p class="date"><i class="far fa-clock"></i>2020.10.14</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">リリース配信のお知らせ「Youtubeの学校」がスタートしました
            リリース配信のお知らせ「Youtubeの学校」がスタートしました
          リリース配信のお知ら</h2>
          <p class="date"><i class="far fa-clock"></i>2021.10.14</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">不動産投資の節税方法を不動産投資家が初心者にわかりやすく解説</h2>
          <p class="date"><i class="far fa-clock"></i>2021.11.10</p>
        </div>
      </a>
    </section>

    <section class="card-list">
      <a class="card-link" href="#" target="_blank">
        <div class="card">
          <img src="{% static 'img/img1.jpg' %}" class="image">
          <h2 class="title">Title</h2>
          <p class="date"><i class="far fa-clock"></i>2021.09.19</p>
        </div>
      </a>
    </section>

</div>

</div>

{% endblock %}
