{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/media_service/main.css' %}">{% endblock %}
{% block title %}記事一覧{% endblock %}
{% block meta_description %}
<meta name="description" content="病院実習クチコミサイトHospee(ほすぴー)のwebメディアです。
医療系学生の疑問を解決できるようなメディアです。">
{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@To_Hospee" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:title" content="HospeeBlog | 病院実習クチコミサイト" />
<meta property="og:description" content="HospeeBlogでは、医療系を専攻している学生に向けて入学から卒業まで有意義な情報を発信していきたいと考えています。" />
<meta property="og:image" content="https://hospeee.com/media/media/Hospee-blog-card.png"/>
{% endblock %}

{% block content %}
<div class="main-content">
  <div id="cardlayout-wrap">
    <section class="card-section">
      <h1 class="card-h1">New</h1>
    </section>

    {% for post in posts %}
    <section class="card-list">
      <a class="card-link" href="{% url 'media_service:content_url' post.id %}">
        <div class="card">
          <img src="/media/{{ post.image }}" class="image" alt="それぞれの記事のイメージ画像">
          <h2 class="title">{{ post.title }}</h2>
          <p class="date"><i class="far fa-clock"></i>{{ post.date }}</p>
        </div>
      </a>
    </section>
    {% endfor %}
</div>

</div>

{% endblock %}
