{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/media_service/making_now.css' %}">{% endblock %}
{% block title %}ホーム{% endblock %}
{% block meta_description %}
<meta name="description" content="このページは、現在開発中です。申し訳ありませんが、ご理解いただければ幸いです。">
{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@To_Hospee" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:title" content="HospeeBlog | 病院実習クチコミサイト" />
<meta property="og:description" content="HospeeBlogでは、医療系を専攻している学生に向けて入学から卒業まで有意義な情報を発信していきたいと考えています。" />
<meta property="og:image" content="https://hospeee.com/media/media/Hospee-blog-card.png"/>
{% endblock %}

{% block content %}
<div class="main-content">
  <h1>申し訳ありません。現在メンテナンス中です。</h1>
  <div class="img"><img src="{% static 'img/ojigi.png' %}" alt=""></div>
  <a href="{% url 'main_app:home' %}">トップページに戻る</a>
</div>
{% endblock %}
