{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>実習ナビ | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/minty/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><!--JQuery-->
    <link rel="icon" type="image/png" href="{% static 'img/header-icon.png' %}">
    {# Global javascript #}
      {% block js_file %}{% endblock %}
    {# Global stylesheets #}
      {% block css_file %}{% endblock %}
  </head>
  <body>
    <header class="site-header">
        <div>
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a href="/" class="navbar-item" id="site-icon">
                  <img src="{% static 'img/site-icon.png' %}">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHero1">
                  <span>口コミを探す</span>
                  <span>口コミを投稿する</span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHero1" class="navbar-menu">
                <div class="navbar-end">
                  <a href="/search/" class="navbar-item">口コミを探す</a>
                  <a href="/form/" class="navbar-item">口コミを投稿する</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

  <footer>
    <a href="/"><img src="{% static 'img/site-icon.png' %}" hspace="0" vspace="0"></a>
    <nav class="footer-content" id="footer-year">
      <a href="/footer-content/?pattern=rule">利用規約・プライバシーポリシー</a>
    </nav>
  </footer>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  </body>
</html>
