{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118360731-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-118360731-8');
    </script>
    <!-- User Heat Tag -->
    <script type="text/javascript">
   (function(add, cla){window['UserHeatTag']=cla;window[cla]=window[cla]||function(){(window[cla].q=window[cla].q||[]).push(arguments)},window[cla].l=1*new Date();var ul=document.createElement('script');var tag = document.getElementsByTagName('script')[0];ul.async=1;ul.src=add;tag.parentNode.insertBefore(ul,tag);})('//uh.nakanohito.jp/uhj2/uh.js', '_uhtracker');_uhtracker({id:'uhSRymp9hY'});
   </script>
   <!-- End User Heat Tag -->
    <meta charset="utf-8">
    <title>Hospee(ホスピー) | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/minty/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><!--JQuery-->
    <link rel="icon" type="image/png" href="{% static 'img/Hospee-icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {# Global javascript #}
      {% block js_file %}{% endblock %}
    {# Global stylesheets #}
      {% block css_file %}{% endblock %}
    {# meta description #}
      {% block meta_description %}{% endblock %}
  </head>
    <body>
    <header>
      {# if you have account and login now #}
      <!--div class="over-trim" id="sample">
        <label for="toggle">
          <div class="trim"><i class="fas fa-user fa-3x"></i></div>
        </label>
        <input type="checkbox" id="toggle">
        <div class="trim-2">
          <nav>
            <a href="#"><li><i class="far fa-envelope"></i>メール設定</li></a>
            <a href="#"><li><i class="fas fa-sign-out-alt"></i>ユーザー情報の変更・退会</li></a>
          </nav>
        </div>
      </div-->

      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <h1><a href="/"><img src="{% static 'img/Hospee.png' %}"></a></h1>
      <nav class="globalMenuSp">
        <ul class="">
          <li class="menu-item"><a href="/search">クチコミを探す</a></li>
          <li class="menu-item"><a href="/form">クチコミを投稿する</a></li>
        </ul>
      </nav>
    </header>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        <nav id="footer-year">
          <div class="foooter-list"><a href="/footer-content/?pattern=rule">利用規約・プライバシーポリシー</a><br></div>
          <div class="foooter-list"><a href="/contact">お問い合わせ</a></div>

        </nav>
      </footer>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  </body>
</html>
