{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="img-section">
  <img src="{% static 'img/home.jpg' %}" alt="">
  <div class="img-text-section">
    <div class="header-text">Hospee</div>
    <p>実習情報口コミサイト</p>
  </div>
</div>

<div class="contents-section">
  <div class="box-section">
  <div class="box-header-text">新着投稿</div>
    <div class="main-box">
      <ul class="top-block">
        {% for index, row in datas.iterrows %}
        <li>
          <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
            <div class="top-content-bk">
              <div class="main-top-text">
                {{ row.hospital_name }}
                <div class="box-sub-text">
                  {{ row.place }},{{ row.major }}
                </div>
                投稿日：{{ row.date }}
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="main-section">
    <div class="content-header-text">コンテンツ</div>
    <ul class="inline-block">
    	<li id="content-no1">
        <a href="/search/">
          <div class="main-content-bk">
            <i class="fas fa-search fa-6x"></i>
            <div class="main-sub-text">口コミを探す</div>
          </div>
        </a>
      </li>
    	<li id="content-no2">
        <a href="/form/">
          <div class="main-content-bk">
            <i class="fas fa-edit fa-6x"></i>
            <div class="main-sub-text">口コミを投稿する</div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="lanking-section">
    <div class="content-header-text">人気のコンテンツ</div>
    <div>
      <ul class="lank-g">
        {% for index, row in df_list.iterrows %}
        <li>
          <a href="/list/individual/?pref={{ row.place_name }}&hospital_name={{ row.hospital_name }}">
            <div class="text-g">
              <div class="crown">
              {% if row.rank == 1 %}
                <span class="fa-stack fa-lg crw rank1">
        					<i class="fas fa-crown fa-stack-2x"></i>
        					<i class="fa fa-inverse fa-stack-1x">{{ row.rank }}</i>
        				</span>
              {% elif row.rank == 2 %}
              <span class="fa-stack fa-lg crw rank2">
                <i class="fas fa-crown fa-stack-2x"></i>
                <i class="fa fa-inverse fa-stack-1x">{{ row.rank }}</i>
              </span>
              {% elif row.rank == 3 %}
              <span class="fa-stack fa-lg crw rank3">
                <i class="fas fa-crown fa-stack-2x"></i>
                <i class="fa fa-inverse fa-stack-1x">{{ row.rank }}</i>
              </span>
              {% else %}
              <span class="fa-stack fa-lg crw">
                <i class="fa fa-inverse fa-stack-1x rank45">{{ row.rank }}</i>
              </span>
              {% endif %}
              </div>
                <div class="lank-top-text">
                  {{ row.hospital_name }}（{{ row.place }}）
                </div>
                <div class="lank-count">
                  {{ row.counter }}件の口コミ
                </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
