{% extends 'base.html' %}
{% load static %}
{% block js_file %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="img-section">
  <img src="{% static 'img/home.jpg' %}" alt="">
  <div class="img-text-section">
    <div class="header-text">実習ナビ</div>
    <p>実習情報口コミサイト</p>
  </div>
</div>

<div class="contents-section">
<div class="box-section">
<div class="box-header-text">新着投稿</div>
  <div class="main-box">
    <p></p>
    <ul class>
      <li id="bk"><!--hospital name,tag<major>--></li>
      <li id="bk"></li>
      <li id="bk"></li>
      <li id="bk"></li>
      <li id="bk"></li>
      <li id="bk"></li>
      <li id="bk"></li>
    </ul>
  </div>
</div>


</div>


{% endblock %}
