{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/list.css' %}">{% endblock %}
{% block js_file %}<script type="text/javascript" src="{% static 'js/list.js' %}"></script>{% endblock %}
{% block title %}病院を探す{% endblock %}


{% block content %}
<div class="main-content">
  <div class="side-wrap">
    <p class="advertise">広告枠</p>
    <p class="recommend">関連するコンテンツ</p>
  </div>
  <div class="midashi">病院を探す</div>
  {% if content == True %}
    {% for index, row in result.iterrows %}
    <!--tr>
      <td>{{row.hospital_name}}</td>
      <td>{{row.review}}</td>
      <td>{{row.count}}</td>
      <td>{{ row.major_0 }}</td>
      <td>{{ row.major_1 }}</td>
      <td>{{ row.major_2 }}</td>
      <td>{{ row.major_3 }}</td>
      <td>{{ row.major_4 }}</td>
    </tr-->
    <div class="hospital-wrap">
      <div class="hospital-content">
        <a href="#">
          <div class="hospital-name-bg">
            <div class="name">{{ row.hospital_name }}</div>
          </div>
        </a>
        <div class="pref-category">
          病院所在地：<a href="?pref={{ row.place_name }}">{{ row.place }}</a>
        </div>
          <center>
            <div class="star-category">
              {{ row.txt }}：
              <div class="star5_rating" data-rate="{{ row.review }}">
              </div>&nbsp;&nbsp;<b>{{ row.review }}</b>
            </div>
          </center>
          <div class="major-category">
            {% if row.major_0 == 0 %}
            {% elif row.major_0 == None %}
            {% else %}
            <div class="major-tag"><a href="?major={{ row.major_0_name }}">#{{ row.major_0 }}</a></div>
            {% endif %}
            {% if row.major_1 == 0 %}
            {% elif row.major_1 == None %}
            {% else %}
            <div class="major-tag"><a href="?major={{ row.major_1_name }}">#{{ row.major_1 }}</a></div>
            {% endif %}
            {% if row.major_2 == 0 %}
            {% elif row.major_2 == None %}
            {% else %}
            <div class="major-tag"><a href="?major={{ row.major_2_name }}">#{{ row.major_2}}</a></div>
            {% endif %}
            {% if row.major_3 == 0 %}
            {% elif row.major_3 == None %}
            {% else %}
            <div class="major-tag"><a href="?major={{ row.major_3_name }}">#{{ row.major_3 }}</a></div>
            {% endif %}
            {% if row.major_4 == 0 %}
            {% elif row.major_4 == None %}
            {% else %}
            <div class="major-tag"><a href="?major={{ row.major_4_name }}">#{{ row.major_4 }}</a></div>
            {% endif %}

          </div>
          <div class="count-category">クチコミ件数：{{ row.count }}件</div>
      </div>
    </div>
    {% endfor%}
    {% else %}
    <div class="no-content-wrap">
      <div class="no-content-box">
        <p>現在、選択されたカテゴリーには、投稿されたコンテンツがございません。<br>ぜひ、下記からコンテンツをご投稿ください</p>
      </div>
      <a class="button" href="/form/">口コミを投稿する</a>
    </div>
    {% endif %}
</div>



{% endblock %}
