{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/search.css' %}">{% endblock %}
{% block title %}口コミを探す{% endblock %}


{% block content %}

<div class="body-contents">
  <div class="box-header-text">場所から探す</div>
  <div style="margin:0px;padding:0px;" align="center">
    <table width="90%">
      <tbody>
        <tr>
          <th id="top-row" colspan="2" style="border:1px solid rgb(106,191,176);">地名</th>
        </tr>
        <tr>
          <td id="first-column" style="border:1px rgb(106,191,176);">北海道・東北</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=hokkaido&page=1">北海道</a>・
            <a href="/list?pref=aomori&page=1">青森</a>・
            <a href="/list?pref=iwate&page=1">岩手</a>・
            <a href="/list?pref=akita&page=1">秋田</a>・
            <a href="/list?pref=miyagi&page=1">宮城</a>・
            <a href="/list?pref=yamagata&page=1">山形</a>・
            <a href="/list?pref=fukushima&page=1">福島</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);">関東</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=ibaraki&page=1">茨城</a>・
            <a href="/list?pref=tochigi&page=1">栃木</a>・
            <a href="/list?pref=gunma&page=1">群馬</a>・
            <a href="/list?pref=saitama&page=1">埼玉</a>・
            <a href="/list?pref=chiba&page=1">千葉</a>・
            <a href="/list?pref=tokyo&page=1">東京</a>・
            <a href="/list?pref=kanagawa&page=1">神奈川</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">北陸・中部</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=nigata&page=1">新潟</a>・
            <a href="/list?pref=toyama&page=1">富山</a>・
            <a href="/list?pref=ishikawa&page=1">石川</a>・
            <a href="/list?pref=fukui&page=1">福井</a>・
            <a href="/list?pref=yamanashi&page=1">山梨</a>・
            <a href="/list?pref=nagano&page=1">長野</a>・
            <a href="/list?pref=gihu&page=1">岐阜</a>・
            <a href="/list?pref=shizuoka&page=1">静岡</a>・
            <a href="/list?pref=aichi&page=1">愛知</a>・
            <a href="/list?pref=mie&page=1">三重</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">近畿</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=shiga&page=1">滋賀</a>・
            <a href="/list?pref=kyoto&page=1">京都</a>・
            <a href="/list?pref=osaka&page=1">大阪</a>・
            <a href="/list?pref=hyogo&page=1">兵庫</a>・
            <a href="/list?pref=nara&page=1">奈良</a>・
            <a href="/list?pref=wakayama&page=1">和歌山</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">中部・四国</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=tottori&page=1">鳥取</a>・
            <a href="/list?pref=simane&page=1">島根</a>・
            <a href="/list?pref=okayama&page=1">岡山</a>・
            <a href="/list?pref=hiroshima&page=1">広島</a>・
            <a href="/list?pref=yamaguchi&page=1">山口</a>・
            <a href="/list?pref=tokushima&page=1">徳島</a>・
            <a href="/list?pref=kagawa&page=1">香川</a>・
            <a href="/list?pref=ehime&page=1">愛媛</a>・
            <a href="/list?pref=kochi&page=1">高知</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">九州</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=fukuoka&page=1">福岡</a>・
            <a href="/list?pref=saga&page=1">佐賀</a>・
            <a href="/list?pref=ohita&page=1">大分</a>・
            <a href="/list?pref=miyazaki&page=1">宮崎</a>・
            <a href="/list?pref=nagasaki&page=1">長崎</a>・
            <a href="/list?pref=kumamoto&page=1">熊本</a>・
            <a href="/list?pref=kagoshima&page=1">鹿児島</a>・
            <a href="/list?pref=okinawa&page=1">沖縄</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="main-section">
    <div class="major-header-text">職種から探す</div>
    <ul class="inline-block">
      {% for data in datas %}
      <li>
        <a href="/list?major={{ data.db_major_name }}&page=1">
          <div class="main-content-bk" id="content-no2">
            <img src="{{ data.image.url }}"/>
            <div class="main-sub-text">{{ data.major_name }}<br>{{ data.count }}件</div><!--クチコミ件数は動的に-->
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
