{% extends 'base.html' %}
{% load static %}
{% block css_file %}<link rel="stylesheet" href="{% static 'css/search.css' %}">{% endblock %}
{% block title %}口コミを探す{% endblock %}


{% block content %}

<div class="body-contents">
  <div class="box-header-text">場所から探す</div>
  <div style="margin:0px;padding:0px;" align="center">
    <table width="90%">
      <tbody>
        <tr>
          <th id="top-row" colspan="2" style="border:1px solid rgb(106,191,176);">地名</th>
        </tr>
        <tr>
          <td width="20%" id="first-column" style="border:1px rgb(106,191,176);">北海道・東北</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=hokkaido">北海道</a>・
            <a href="/list?pref=aomori">青森</a>・
            <a href="/list?pref=iwate">岩手</a>・
            <a href="/list?pref=akita">秋田</a>・
            <a href="/list?pref=miyagi">宮城</a>・
            <a href="/list?pref=yamagata">山形</a>・
            <a href="/list?pref=fukushima">福島</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);">関東</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=ibaraki">茨城</a>・
            <a href="/list?pref=tochigi">栃木</a>・
            <a href="/list?pref=gunma">群馬</a>・
            <a href="/list?pref=saitama">埼玉</a>・
            <a href="/list?pref=chiba">千葉</a>・
            <a href="/list?pref=tokyo">東京</a>・
            <a href="/list?pref=kanagawa">神奈川</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">北陸・中部</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=nigata">新潟</a>・
            <a href="/list?pref=toyama">富山</a>・
            <a href="/list?pref=ishikawa">石川</a>・
            <a href="/list?pref=fukui">福井</a>・
            <a href="/list?pref=yamanashi">山梨</a>・
            <a href="/list?pref=nagano">長野</a>・
            <a href="/list?pref=gihu">岐阜</a>・
            <a href="/list?pref=shizuoka">静岡</a>・
            <a href="/list?pref=aichi">愛知</a>・
            <a href="/list?pref=mie">三重</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">近畿</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=shiga">滋賀</a>・
            <a href="/list?pref=kyoto">京都</a>・
            <a href="/list?pref=osaka">大阪</a>・
            <a href="/list?pref=hyogo">兵庫</a>・
            <a href="/list?pref=nara">奈良</a>・
            <a href="/list?pref=wakayama">和歌山</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">中部・四国</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=tottori">鳥取</a>・
            <a href="/list?pref=simane">島根</a>・
            <a href="/list?pref=okayama">岡山</a>・
            <a href="/list?pref=hiroshima">広島</a>・
            <a href="/list?pref=yamaguchi">山口</a>・
            <a href="/list?pref=tokushima">徳島</a>・
            <a href="/list?pref=kagawa">香川</a>・
            <a href="/list?pref=ehime">愛媛</a>・
            <a href="/list?pref=kochi">高知</a>
          </td>
        </tr>
        <tr>
          <td id="first-column" style="border:1px solid rgb(106,191,176);;">九州</td>
          <td id="second-row" style="border:1px solid rgb(106,191,176);">
            <a href="/list?pref=fukuoka">福岡</a>・
            <a href="/list?pref=saga">佐賀</a>・
            <a href="/list?pref=ohita">大分</a>・
            <a href="/list?pref=miyazaki">宮崎</a>・
            <a href="/list?pref=nagasaki">長崎</a>・
            <a href="/list?pref=kumamoto">熊本</a>・
            <a href="/list?pref=kagoshima">鹿児島</a>・
            <a href="/list?pref=okinawa">沖縄</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="main-section">
    <div class="major-header-text">職種から探す</div>
    <ul class="inline-block">
      {% for data in datas %}
      <li>
        <a href="/list?major={{ data.db_major_name }}">
          <div class="main-content-bk" id="content-no2">
            <img src="{{ data.image.url }}"/>
            <div class="main-sub-text">{{ data.major_name }}<br>{{ data.count }}件</div><!--クチコミ件数は動的に-->
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>


</div>

{% endblock %}
